[2017-10-09 21:16] wojtek0806 commented on #1304
good call @chen23

[2017-10-10 16:59] edarzins opened #1307 "Error when setting policy rule "description" on BIG-IP v11.6.1"
Setting the "description" parameter on a policy rule succeeds on BIG-IP v12.1.0 but fails on v11.6.1:

"code":400,"message":"Found unexpected json pair at configuration item /ltm/policy/~cf~cf-routing-policy/rules/cf-uaa-724b8d651b68119b. The json pair is \\"description\\":\\"route: uaa.sys.10.190.24.189.xip.io\\".","errorStack":[]

The SDK isn't detecting that this parameter is not valid for v11.

[2017-10-10 18:54] wojtek0806 commented on #1307
It has most likely been added in 12.x in SDK we do not enforce parameter checking unless it is a mandatory parameter required for creation, or other operation. Given the Api changes with each version it would not be scalable. It is up to the caller to use proper optional parameter

[2017-10-10 18:54] wojtek0806 commented on #1307
@edarzins

[2017-10-10 20:57] zancas commented on #1307
I vote we handle known idiosyncrasies where we can conveniently.   @edarzins issue is likely to affect other consumers of the SDK, so I think he should roll a fix in the SDK.   What's the team think?
@caphrim007

[2017-10-10 21:06] caphrim007 commented on #1307
@zancas I'm ok with that. In the situations where we know what these idiosyncrasies are (this is one of those cases), I think it's less chatty to handle the case locally instead of sending the request to the device to tell us it's a problem.

[2017-10-10 21:13] wojtek0806 commented on #1307
i am against this, as this will provide inconsistency, and open up the doors for more problems, it should be up the the SDK consumers to know which parameters they can use, SDK is an interface to REST and should remain as lean as possible. We do enough legwork to enforce mandatory parameters and handle known bugs, but this is as far as we should go.
@zancas @caphrim007

[2017-10-10 21:23] wojtek0806 commented on #1307
what if said 'parameter' gets changed again and again, do you really want to clutter the code with all those workarounds per version? what is stopping others from asking for more parameters to be checked. This is not scalable, also you are going against the rules we have setup and agreed upon in our dev guide.

[2017-10-10 21:25] wojtek0806 commented on #1307
the rules are simple you need to know what you are doing if you want to use the SDK, we can cover you from known bugs, and help with mandatory parameters, but rest, it is up to you to figure it out.

[2017-10-10 21:26] caphrim007 commented on #1307
To answer your questions,

We follow the existing patterns that we have for when things change across versions; defining __new__. Or, we have a data structure in the resource that defines a set of parameters with overrides for versions where it changes.

There is nothing stopping them for asking for more parameters to be checked. That's the point. Issues that people file are handled as time permit

[2017-10-10 21:27] wojtek0806 commented on #1307
this is not the point, the change is good if it is a smart change, but this change is a bad idea

[2017-10-11 14:36] broferek commented on #1304
thanks @chen23 we are not really stuck on Centos6.9 and we actually need to go forward and that issue could be the good starting point to migrate to Centos7.

@wojtek0806 I have just installed a test VM with Centos7 but now we get an issue with BigIP authentication. It returns the following issue.
Our BigIP is running version 11.5 with icrd started.

We have looked at many threads but could not fi

[2017-10-11 14:42] wojtek0806 commented on #1304
Reopening for this discussion, I noticed you are using ansible modules which are guaranteed to work on 12.x. From the traceback it seems we are using tokens, which were introduced in 12.x. Can you put some more information on what ansible module/playbook you are using? I suspect this discussion would have to be moved to f5_ansible github but let me verify this first. @broferek

[2017-10-11 14:50] broferek commented on #1304
Yes, this is affecting the module bigip_pool http://docs.ansible.com/ansible/latest/bigip_pool_module.html
The requirement on this page is bigip >=11 . Maybe outdated?

[2017-10-11 15:39] wojtek0806 commented on #1304
Yeah i think this needs updated. what do you think @caphrim007 ?

[2017-10-11 15:46] broferek commented on #1304
Other Ansible modules require BigIP > 12.0.0 such as http://docs.ansible.com/ansible/latest/bigip_sys_db_module.html
So I think this is a doc issue on Ansible side.

On our side, we will upgrade our BigIP to 12.0.0 tomorrow.

I'll let you know once we can test.

[2017-10-11 16:37] caphrim007 commented on #1304
@wojtek0806 broferek was using 11.5, not 12. It's YMMV on versions less than 12.

[2017-10-11 16:40] wojtek0806 commented on #1304
i know he was i was asking if this is a case of docs mistake :)

[2017-10-11 17:45] wojtek0806 commented on #1304
if you run into ansible issues, please open on ansible github, i will close this one @broferek

[2017-10-11 17:45] #1304 closed, assigned to nobody

[2017-10-11 17:54] caphrim007 commented on #1304
open an issue for ansible at the **F5 Ansible** github, not the "Ansible" github.

the correct link is here
https://github.com/F5Networks/f5-ansible/issues

[2017-10-11 18:20] wojtek0806 commented on #1304
yea that is what i meant :) typing on the phone sorry :)

[2017-10-11 23:57] r-teller opened #1309 "Error when updating an object that is created within a Transaction"
It looks like there is an issue in the TransactionContextManager function used to wrap different rest calls into a transaction. When I attempt to modify an object that is created within a transaction an error message is returned.

From what I can tell when an object is updated the _meta_data['uri'] attribute incorrectly refers to the URI path of the transaction instead of the URI path of the objec

[2017-10-12 01:46] caphrim007 commented on #1309
@rotelly and I verified this offline. I will be handling it's fix

[2017-10-12 20:40] #1307 closed, assigned to edarzins

[2017-10-13 10:08] wojtek0806 opened #1310 "logging/messaging system for SDK"
opening this issue to create messaging/logging system for SDK,

[2017-10-13 13:18] wojtek0806 commented on #1310
some experiments:

[code]

[2017-10-13 13:33] wojtek0806 commented on #1310
[code]

[code]

[2017-10-17 01:34] hygorxxx opened #1312 "Create draft policy error"
When i'm trying to create a draft policy i'm receiving the following message

`>>> x = mgmt.tm.ltm.policys.policy.draft(name='policy_docker',partition='Common', subPath='Drafts', strategy='Common/first-match')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/f5/bigip/tm/ltm/policy.py", line 171, in draft
    super(Policy, self)

[2017-10-17 01:43] caphrim007 commented on #1312
@hygorxxx does the policy exist before you attempt to draft it?

[2017-10-17 01:45] hygorxxx commented on #1312
@caphrim007 Yes, the policy is already published.

[2017-10-17 02:04] caphrim007 commented on #1312
@hygorxxx ok, then to use it, the methods like draft and publish require that the resource be `load`ed first.

so first do a

`policy = tm.ltm.policys.policy.load(name='policy_docker', partition='Common')`

and from there do

`policy.draft()`

[2017-10-17 02:12] hygorxxx commented on #1312
@caphrim007 Great. You're right, i did the load first and it worked. Thanks.

[2017-10-17 02:13] #1312 closed, assigned to nobody

[2017-10-17 10:49] wojtek0806 opened #1313 "Some unnamed resources need to support POST"
/mgmt/tm/shared/licensing/activation  endpoint in REST supports POST,

currently we do not allow POST, since this is Unnamed Resource:
https://github.com/F5Networks/f5-common-python/blob/acb2efb4e902afaf12b56e1794efe1cb17211493/f5/bigip/tm/shared/licensing.py#L59

I will fix this immediate problem but we need to start looking at reworking some of the ways we construct/obtain URLs. Maybe looking at

[2017-10-20 10:06] chen23 opened #1314 "BIG-IQ: Assign/Revoke API"
It would be useful to support the following: https://devcentral.f5.com/wiki/BIGIQ.HowToSamples_license_member_management.ashx

- Add Managed Device
- Add Unmanaged Device
- Revoke License

[2017-10-20 16:27] caphrim007 commented on #1314
this request requires that the BIG-IQ team finalize their plans to provide the SDK team with classes for BIG-IQ.

[2017-11-01 18:53] caphrim007 opened #1315 "ASM task import needs to support partitions"
currently you cannot import an ASM policy to a different partition

[2017-11-01 19:58] #1315 closed, assigned to caphrim007

[2017-11-03 20:08] PrashantSunkari opened #1317 "BIGIP: Add support for lsnpool (CGNAT)"
Complete task list for CGNAT related work:
- [x] LSNpool collection and resource + tests

- [x] LSN log profile collection and resource + tests

- [x] Add missing ALG profile - IPsecALG

- [ ] (Future: not part of this issue) ALG log profile collection and resource + tests
- [ ] (Future: not part of this issue) Add support for FWNAT (CGNAT equivalent from AFM)

First 3 tasks will allow following u

[2017-11-03 20:09] PrashantSunkari commented on #1317
Please assign this to me. I am already close to submitting a pull request.

[2017-11-04 05:36] caphrim007 opened #1319 "support for provisioning iRulesLX (ilx)"
somehow this missed the provisioning code

[2017-11-04 06:09] #1319 closed, assigned to caphrim007

[2017-11-07 19:53] jaymmodi commented on #1106
This is still an issue for me. I used `pip install f5-sdk'. I can see the package which is installed in my site-packages directory.

And I get this:
ImportError: No module named bigip
when I try to run this:
from f5.bigip import ManagementRoot

[2017-11-07 20:09] caphrim007 commented on #1106
@jaymmodi open a new issue and provide details of your working environment please.

[2017-11-08 15:52] #1317 closed, assigned to PrashantSunkari

[2017-11-15 20:06] erjac77 opened #1323 "Unable to use the "exists" method for GTM Topology"
Hi,

The exists method for GTM Topology records doesn't seem to work with a Datacenter as LDNS routing destination.

**_With the partition_** in the Datacenter's name, I get a "**_instance names and partitions cannot contain '/'_**" error message.
[code]

**_Without the partition_** in the Datacenter's name, I get a "**_Topologies must specify both regions: ldns: server:_**" error message.
[code]

[2017-11-15 22:54] wojtek0806 commented on #1323
i think i know what the issue is will do that this week

[2017-11-17 10:35] kimoziiiii opened #1324 "iControlUnexpectedHTTPError: 401 Unexpected Error: F5 Authorization Required for uri: https://10.50.2.65:443/mgmt/tm/sys/"
* python:2.7
* sdk: f5-sdk 3.0.4
* f5 software: BIG-IP v11.6.1
* f5 user role: administrator

[code]
help..

[2017-11-17 17:38] caphrim007 commented on #1324
@kimoziiiii I dont believe you can auth to an 11.6.1 device with this SDK.

[2017-11-19 01:50] kimoziiiii commented on #1324
@caphrim007 You mean this SDK not support 11.6.1 ?  this SDK support which version?

[2017-11-19 02:32] caphrim007 commented on #1324
@kimoziiiii are you using tacacs or ldap to connect?

[2017-11-19 02:54] kimoziiiii commented on #1324
@caphrim007 use cisco aaa manage user account

[2017-11-19 02:55] kimoziiiii commented on #1324
@caphrim007 you mean this SDK only support local user?

[2017-11-19 03:01] caphrim007 commented on #1324
@kimoziiiii try setting the `token=true` parameter in the `ManagementRoot` object instantiation

[2017-11-20 09:07] kimoziiiii commented on #1324
@caphrim007 when i use `token=True` parameter in the `ManagementRoot`, same error raise

[2017-11-20 17:26] caphrim007 commented on #1324
@kimoziiiii what role does the remote role for this user have in the bigip?

[2017-11-21 07:01] kimoziiiii commented on #1324
`f5 user role: administrator`, pls check my question detail :)

[2017-11-21 17:36] caphrim007 commented on #1324
@kimoziiiii do authentication success messages appear in /var/log/secure when you authenticate using this account?

[2017-11-22 16:35] caphrim007 opened #1325 "support auth_providers for bigiq and bigip"
the `token` abstraction that we have is not quite the right abstraction. It should instead be auth_provider. BIG-IQ provides a facility for this. BIG-IP does too, it's called "tmos", but we incorrectly just say `token=true`.

Add support for auth_provider while maintaining legacy support for token

[2017-11-22 17:22] #1325 closed, assigned to caphrim007

[2017-11-22 17:24] caphrim007 opened #1327 "add APIs for BIG-IQ regkey and utility licensing"

[2017-11-22 17:36] #1327 closed, assigned to caphrim007

[2017-11-23 03:11] kimoziiiii commented on #1324
@caphrim007  when i try to run `mgmt = ManagementRoot("10.50.2.65", "useid", "passw0rd")` in python,
then i check `/var/log/secure` in F5, there is no records about this test.

[2017-11-29 00:45] caphrim007 commented on #1107
@mindw this should be fixed now

[2017-11-29 00:45] #1107 closed, assigned to caphrim007

[2017-11-29 00:46] caphrim007 commented on #1324
@kimoziiiii that would suggest that remote authentication is not happening. If you run the same command with `token='tmos'` do you get the same error and lack of message in /var/log/secure ?

[2017-11-30 02:38] caphrim007 opened #1330 "add support for authn API"
you can reset the root password with this api

echo "Reset root password back to default"
curl -k -u admin:admin -X POST -H "Content-Type: application/json" \
  https://localhost:10443/mgmt/shared/authn/root \
  -d '{"oldPassword": "f5site02", "newPassword": "default"}'

[2017-11-30 04:16] #1042 closed, assigned to caphrim007

[2017-11-30 04:18] caphrim007 commented on #786
closing this because this needs to move to openstack. vagrant is not scalable for this

[2017-11-30 04:18] #786 closed, assigned to caphrim007

[2017-11-30 04:20] #644 closed, assigned to nobody

[2017-11-30 04:41] #1330 closed, assigned to caphrim007

[2017-11-30 04:55] #672 closed, assigned to jputrino

[2017-11-30 05:04] #482 closed, assigned to nobody

[2017-11-30 05:04] #1039 closed, assigned to zancas

[2017-11-30 05:05] caphrim007 commented on #654
py2/3 compat is complete

[2017-11-30 05:05] #654 closed, assigned to zancas

[2017-11-30 16:40] #541 closed, assigned to zancas, jgruber

[2017-11-30 16:56] #324 closed, assigned to jputrino

[2017-11-30 16:59] caphrim007 commented on #158
i'm closing because imho this is not necessary

[2017-11-30 16:59] #158 closed

[2017-11-30 17:01] caphrim007 commented on #247
we do not auto generate classes. that's dangerous is most cases and there is plenty of existing work that can be copied and pasted around as necessary without needing to struggle with a custom code generator for an API that has no standards. closing

[2017-11-30 17:01] #247 closed

[2017-11-30 17:01] #286 closed, assigned to zancas

[2017-12-01 08:40] kimoziiiii commented on #1324
@caphrim007 yes, i got same error and lack of  message in /var/log/secure!

[2017-12-01 15:17] caphrim007 commented on #1324
@kimoziiiii does the following work?

`curl -k -u user:pass https://10.50.2.65/mgmt/tm/sys`

replace user/pass with your username and password

[2017-12-04 21:28] jasonrahm opened #1334 "Convert all functional tests from bigip to mgmt_root"
many old functional tests still reference the bigip object instead of mgmt_root.

[2017-12-04 23:22] #1334 closed, assigned to jasonrahm

[2017-12-05 00:10] jasonrahm commented on #1303
I am working on some documentation updates this month, I will update this example when I do

[2017-12-05 03:07] kimoziiiii commented on #1324
@caphrim007 i have got a local admin account for test from f5 administrator .
[code]
does it not support third-party certification?

[2017-12-05 03:33] caphrim007 commented on #1324
@kimoziiiii not at this time.

[2017-12-05 12:14] kimoziiiii opened #1336 "how to create a data-group?"
I don't know how to use an this API, because i  can't find the corresponding document
`In [47]: testdg = ltm.data_group.internals.internal.create(name="testDG", type="String", records='{"name":"ffff.com"}')`
[code]

[2017-12-05 19:34] caphrim007 commented on #1336
@kimoziiiii

https://github.com/F5Networks/f5-common-python/blob/development/f5/bigip/tm/ltm/test/functional/test_data_group.py#L86

[2017-12-06 05:48] kimoziiiii commented on #1336
@caphrim007  thank you 💯

[2017-12-06 06:00] #1336 closed, assigned to nobody

[2017-12-06 22:52] penghon commented on #1301
Found example:
https://github.com/F5Networks/f5-common-python/blob/development/f5/bigip/tm/cm/test/functional/test_trust.py

[2017-12-06 22:52] #1301 closed, assigned to nobody

[2017-12-11 06:37] #1093 closed, assigned to nobody

[2017-12-13 09:30] Kyrremann opened #1339 "Version 3.0.6 gives RecursionError"
Version `3.0.6` of `f5-sdk`, gives me an `RecursionError` when I try to create a new ManagmentRoot. Version `3.0.5` works as expected.

[code]

I'm running `Python 3.6.2` at the moment.

[2017-12-13 16:22] caphrim007 commented on #1339
this doesnt look like an sdk error, it looks like something in the python openssl code, off the top of my head i'm not sure what would be causing this, but I will try to reproduce.

[2017-12-13 16:22] caphrim007 commented on #1339
can you post the output of `pip freeze`?

[2017-12-13 20:46] caphrim007 opened #1340 "replace eventlet with signal"
signal is a package that ships with python. i think the eventlet package may have a number of problems with it and we probably want to switch to signal as we can make use of its facilities just as well

[2017-12-14 09:02] Kyrremann commented on #1339
Output of freeze is:
[code]
Python code I use:
[code]

The problem may be that we don't have HTTPS/certificate on the server, hence the `disable_warnings`.

A complete example of it in Docker.
[code]

[2017-12-14 13:08] jasonrahm commented on #1339
instead of importing urllib3, try importing requests:

import requests
requests.packages.urllib3.disable_warnings()

not sure if this is the same error, but I was never successful the other way

[2017-12-14 17:04] #1340 closed, assigned to caphrim007

[2017-12-14 17:05] caphrim007 commented on #1339
@Kyrremann in the event that it is related to eventlet, can you try pip installing from devel to ensure that you're not being bitten by that?

`pip install --upgrade git+https://github.com/F5Networks/f5-common-python.git`

[2017-12-15 08:43] Kyrremann commented on #1339
I fired up a new Docker container, and using the the devel-version it worked! So it looks like it's an eventlet problem.

[2017-12-15 16:52] caphrim007 commented on #1339
@Kyrremann good to hear. the next release of the sdk will be next friday (the 22nd) US/PST

[2017-12-15 16:52] #1339 closed, assigned to nobody

[2017-12-15 19:20] wdauchy opened #1342 "RecursionError in ManagementRoot"
Hello,

I am getting the following trace while using f5.bigip.ManagementRoot with the 3.0.6 version. The issue was not present in 3.0.5. I did not took the time to debug it for now.

[code]

[2017-12-15 19:54] jasonrahm commented on #1342
See #1339

[2017-12-15 19:54] #1342 closed, assigned to nobody

[2017-12-15 20:41] wdauchy commented on #1342
thanks

[2017-12-22 06:26] jesmith18 commented on #1339
Installing pyOpenSSL eliminates this issue

[2017-12-29 16:25] erjac77 commented on #1323
@wojtek0806, Do you have any news on this?

[2017-12-30 01:40] jasonrahm commented on #1303
This coding example has been updated to be more clear.

[2017-12-30 01:40] #1303 closed, assigned to jasonrahm

[2017-12-30 01:42] jasonrahm commented on #1277
@caphrim007 is this a different issue than was addressed in #1338 ?

[2017-12-30 01:50] caphrim007 commented on #1277
I think they are the same and that this was addressed in 1338

[2017-12-30 01:56] jasonrahm commented on #1277
Hi @zlesnr, this was added in development branch based on 3.6, and was released in 3.7. When instantiating with ManagementRoot, add the kwarg verify=True and you should be good to go.

[2017-12-30 01:56] #1277 closed, assigned to caphrim007

[2017-12-30 02:45] jasonrahm commented on #1323
@erjac77 you can pull down my branch to test the fix: https://github.com/jasonrahm/f5-common-python/tree/bug.1323. It's working for me on my dev box but I'd like to get confirmation from you before merging to the development branch.

[2017-12-30 15:17] erjac77 commented on #1323
@jasonrahm , unfortunately, it's not working in my case. The traces are slightly different.

[code]

I've only pulled 'topology.py' though. Did you make modifications elsewhere?

[2017-12-30 16:36] jasonrahm commented on #1323
let me drop to 12.1.2 and see if I get the same error

[2017-12-30 17:29] jasonrahm commented on #1323
Ok, so I will need to talk to the team on how to fix this (in a helpful way, see below) but the problem it's having is with you supplying the partition kwarg. If you remove that, the exists works fine.

Many of the GTM objects have to exist in /Common anyway, so there isn't a need for the partition argument anyway for ([see solution on AskF5](https://support.f5.com/csp/article/K01990709)):

- Data

[2017-12-30 20:05] erjac77 commented on #1323
You're right. Works like a charm if I remove the partition argument.

[code]

However, if I don't include the partition in the datacenter name, it returns false.

[code]

[2017-12-30 21:14] jasonrahm commented on #1323
Yeah, it does need to match the record as stored in the config.

[2017-12-30 21:23] erjac77 commented on #1323
Ok then. I was just wondering if it is something that the SDK should take care of...

Anyway, thanks for the fix!

[2017-12-30 21:29] jasonrahm commented on #1323
We’ll talk about how to handle that larger issue

[2017-12-30 21:46] erjac77 commented on #1323
Sounds good to me. Thanks again for your help and Happy New Year!

[2017-12-30 22:38] jasonrahm commented on #1323
you bet, happy new year to you as well.

[2018-01-02 21:00] jlongstaf opened #1348 "Add records subcollection for fdb tunnels"
I need to use the SDK to work with the records subcollection of tm/net/fdb/tunnel. I need to:

Create a single record:
POST to tm/net/fdb/tunnel/<my tunnel name>/records/

and delete a single record:
DELETE tm/net/fdb/tunnel/<my tunnel name>/records/<name>

iControl REST supports these operations, but the SDK does not appear to have records subcollection.

[2018-01-02 21:08] jasonrahm commented on #1348
Hi @jlongstaf, what's the priority for you on this? I have a couple other things I was going to add and test, but can prioritize this if it's important.

[2018-01-02 21:48] jlongstaf commented on #1348
@jasonrahm: Thanks for your quick response. This is a relatively high priority for us, as we need this to resolve an SR opened by an OpenStack customer (SR 1-3607037061 ). That said, we can work within your schedule. Just let me know when you think it can get scheduled and I'll update our customer.

Thanks for your help.

[2018-01-02 21:51] jasonrahm commented on #1348
I'll try to knock this out for Friday's release

[2018-01-02 21:55] jlongstaf commented on #1348
Thanks!

[2018-01-02 22:10] jasonrahm commented on #1348
@jlongstaf, do you have an example record I can work with?

[2018-01-02 22:19] jlongstaf commented on #1348
@jasonrahm
From Scott Peters:
POST (CREATE) to the sub-collection of records associated with the FDB Tunnel.
`tm/net/fdb/tunnel/<my tunnel name>/records/`

If you POST to an already existing item you will get an error stating it already exists:
“01020066:3: The requested L2 forward tunnel (/Common/mytunnel 11:11:11:11:11:22) already exists in partition Common.”

`DELETE tm/net/fdb/tunnel/<my tunne

[2018-01-02 22:20] jlongstaf commented on #1348
@jasonrahm
My original DELETE statement was not correct (sorry). It should read:

`DELETE tm/net/fdb/tunnel/<my tunnel name>/records/<name field>`

Corrected above comment.

[2018-01-03 12:54] magnuswatn opened #1349 "SIGALRM doesn't exist on Windows"
SIGALRM doesn't exist on Windows, so after https://github.com/F5Networks/f5-common-python/pull/1341 bigip initialization failes on Windows:

[code]

An easy fix would be to just try to explicit import SIGALRM together with signal (f5\bigip\__init__.py):
[code]
This would of course disable this functionality on Windows, but I'm thinking that's not the end of the world?

Thanks.

[2018-01-03 15:33] caphrim007 commented on #1349
thanks for the report. will fix

[2018-01-03 23:12] jasonrahm opened #1351 "Add test cases for fdb tunnel record endpoints"
need to add unit/functional test cases for tm.net.fdb.tunnel.records

[2018-01-04 00:01] jasonrahm commented on #1348
this has been merged to development and will be included in Friday's release. Closing this issue.

[2018-01-04 00:01] #1348 closed, assigned to jasonrahm

[2018-01-04 23:52] pbardon opened #1352 "Add support for /shared/authz/users API"
The f5-common-python sdk does not currently have support for querying and creating users via the REST endpoint:

/shared/authz/users

I am planning to submit a pull request to add this functionality, but am creating this issue first as suggested in the contribution guide.

[2018-01-05 01:01] caphrim007 commented on #1352
Have you tried /tm/auth/user? That's the one I usually use for such a situation

[2018-01-05 01:29] pbardon commented on #1352
Yes, and that endpoint does work with the SDK. This new endpoint is the REST Framework endpoint for user management, and this is the endpoint that can be used to reset the admin password during initial setup due to the recent changes to mark the admin password as expired by default.

[2018-01-05 14:00] chen23 opened #1354 "tm.shared.licensing.activation support delete"
Currently Python SDK does not support delete for a license activation
https://github.com/wojtek0806/f5-common-python/commit/c69ad3e14c1bb2a560f72f9cba4a844eb60a6c5a

[2018-01-07 22:46] tthomas0702 opened #1356 "POST iApp template failing Help Wanted"
I am attempting to import an iApp to a BIG-IP and failing. I am not 100% sure I am doing it correctly so I would like to show how I am doing it and then show the data I collected on the results. I can import an iApp template successfully using Postman.

If I am doing this wrong please give me some pointers and ignore the data I collected about the failure.

Versions:
Python 2.7.12
f5-sdk 3.0.8
BIG

[2018-01-08 18:06] chen23 opened #1357 "Enhancement: support for revoke license"
TMOS 13.1.x supports revoking a license via iControl REST.

https://support.f5.com/kb/en-us/products/big-ip_ltm/releasenotes/product/relnote-bigip-ve-13-1-0.html#unique_656977381

tmsh: revoke sys license

[2018-01-08 18:28] chen23 commented on #1357
iControl REST:
[code]

[2018-01-10 14:41] wdauchy opened #1360 "atribute error when no description provided"
I am getting attributeError when trying to access description for a server which has no description.

Is there a way to avoid this and make sure all attributes are created (maybe return None if empty?); so we can access them in a unified way.

Thanks

[2018-01-10 17:29] jasonrahm commented on #1360
This isn’t likely. Your best option is to test for the attribute before accessing:

hasattr(obj, ‘attr’)

[2018-01-14 13:55] #1349 closed, assigned to caphrim007

[2018-01-15 21:28] himalayanBuddy opened #1362 "AttributeError: 'module' object has no attribute 'SIGALRM'"
I am using Python 2.7.13 (v2.7.13:a06454b1afa1, Dec 17 2016, 20:42:59) [MSC v.1500 32 bit (Intel)] on win32.

f5-sdk 3.0.8

I get the following error message while trying to connect to BIG-IP.

Traceback (most recent call last):
  File "c:\Users\hpokh\Desktop\Python_Files\delete_pool.py", line 17, in <module>
    b = ManagementRoot(device_name, user_name, password)
  File "C:\Python27\lib\site-pac

[2018-01-15 21:35] himalayanBuddy commented on #1362
When I comment out the lines mentioned in the error it doesn't throw me error. When I try to get different stuffs get different error messages.

Traceback (most recent call last):
  File "c:\Users\hpokh\Desktop\Python_Files\delete_pool.py", line 19, in <module>
    print (b.tm.ltm.pools)
  File "C:\Python27\lib\site-packages\f5\bigip\mixins.py", line 113, in __getattr__
    container._check_suppor

[2018-01-15 21:55] himalayanBuddy commented on #1362
https://bugs.python.org/issue27735 looks like windows doesn't support SIGALRM I commented out and changed the following lines in the code at least it is working for me now.

     def _get_tmos_version(self):
        connect = self._meta_data['bigip']._meta_data['icr_session']
        base_uri = self._meta_data['uri'] + 'tm/sys/'
        # if HAS_SIGNAL:
            # signal.signal(signal.SIGALRM ,

[2018-01-15 22:14] caphrim007 commented on #1362
@harishpokharel this is fixed in devel and will be released with 3.0.9

[2018-01-15 22:14] #1362 closed, assigned to nobody

[2018-01-15 23:01] caphrim007 opened #1363 "add api for smtp-server"
missing from the sdk

tm/sys/smtp-server

[2018-01-16 15:29] #1363 closed, assigned to caphrim007

[2018-01-19 20:41] caphrim007 opened #1365 "device groups should not support partition args or require it"
DGs can only be created on the Common partition, but today the sdk requires one to specify a partition.

The partition data is still part of the URLs though so this needs to be taken into consideration (it just always defaults to Common)

[2018-01-19 22:11] #1365 closed, assigned to caphrim007

[2018-01-22 04:45] caphrim007 commented on #1356
@tthomas0702 it's complicated.

There is no such API to just "give it an iApp template". The API instead requires that you provide all of the **fields of** an iApp template. This means you need to essentially split apart a given iApp template into its component parts and then POST a JSON payload whose fields contain those component parts.

JSON is required, but the fields would hold the APL.

If y

[2018-01-22 13:42] tthomas0702 commented on #1356
@caphrim007 I need to make sure I understand.

My goal is to upload an unaltered template to a BIG-IP. This would just be added to the list of available templates but not deployed at this point as an iApp.

Is there a technical reason we cannot do this or is it just not a feature we have yet?

I can do this using the REST API.

[2018-01-22 16:42] caphrim007 commented on #1356
@tthomas0702 can you post the full POST payload that is sent? You left some off

[2018-01-22 19:04] tthomas0702 commented on #1356
@caphrim007

{
    "kind": "tm:sys:application:template:templatestate",
    "name": "appsvcs_integration_v2.0.004",
    "partition": "Common",
    "fullPath": "/Common/appsvcs_integration_v2.0.004",
    "generation": 6,
    "selfLink": "https://localhost/mgmt/tm/sys/application/template/~Common~appsvcs_integration_v2.0.004?expandSubcollections=true&ver=13.0.0",
    "ignoreVerification": "false",

[2018-01-22 19:07] tthomas0702 commented on #1356
@caphrim007 I am not sure If I posted that in a way that is usable. If the above is too much of a mess let me know and I will give it another try to have it formatted better.

[2018-01-22 19:26] caphrim007 commented on #1356
@tthomas0702 this gets the point across.

Here's my point. You mention that you are able to post the entire template using postman. The fact of the matter is that you posted a single template, and that template is special because nowhere in it are fields such as "presentation", "macro", "html-help", "role-acl", etc.

Your template there is only an `implementation`.

An iApp template has a loose sp

[2018-01-22 20:40] tthomas0702 commented on #1356
@caphrim007 OK, I understand better now.

Thanks for explaining. I think I was a little confused by the fact that it works when I POST it. The appscvs iApp must be a special case. I will stop trying to import an iApp and move on to deploying an iApp.

[2018-01-25 04:09] jasonrahm opened #1370 "add tm/cm/failover-status stats endpoint"
GET https://ltm3.test.local/mgmt/tm/cm/failover-status

{
    "kind": "tm:cm:failover-status:failover-statusstats",
    "selfLink": "https://localhost/mgmt/tm/cm/failover-status?ver=13.1.0.1",
    "entries": {
        "https://localhost/mgmt/tm/cm/failover-status/0": {
            "nestedStats": {
                "entries": {
                    "color": {
                        "description": "g

[2018-01-25 04:50] caphrim007 opened #1371 "add property for fetching debug call tracing"
the underlying icontrol library tracks API calls and stores them in a debug variable. make this variable available to the sdk

[2018-01-25 05:17] #1371 closed, assigned to caphrim007

[2018-01-28 23:28] #1370 closed, assigned to jasonrahm

[2018-01-29 00:00] jasonrahm commented on #1357
can you point me to the documentation for this endpoint @chen23? Is revoke the only option? I'd like to get this built and merged by Friday's release.

[2018-01-30 00:47] daho2017 opened #1376 "missing netflow profile"
Hello:

I noticed that the netflow profile in ltm profile is missing. I'd like to request to have this implemented. Thank you.

Example:
with TransactionContextManager(tx) as api:
    udp = api.tm.ltm.profile.udps.udp.create(name='udp1', partition='Common') <- this works
   netflow = api.tm.ltm.profile.netflows.netflow.create(name='netflow1', partition='Common')  <- this does not work

[2018-01-30 00:54] caphrim007 commented on #1376
@daho2017 is this new to v13? or does it go back?

[2018-01-30 17:16] jlongstaf opened #1377 "Adding device to trust domain fails with BIG-IP version 13.0"
When creating a cluster (e.g., active-standby HA pair), we see this error when using version 13.0:

[code]
It seems the tmsh modify cmd trust-domain command changed in 13.x.

According to https://support.f5.com/kb/en-us/products/big-ip_ltm/manuals/product/bigip-system-device-service-clustering-administration-13-0-0/13.html, the command in 13.x has this format:

`tmsh modify cm trust-domain Root ad

[2018-01-30 19:20] daho2017 commented on #1376
This appears to be new in v13. I just tried on v12.1.2 and it wasn't there.

[2018-01-30 23:25] caphrim007 opened #1378 "add GTM monitor APIs to the sdk"
monitors for GTM are missing and need to be added

[2018-01-30 23:26] caphrim007 opened #1379 "Rename files from uppercase to lowercase"
there are a number of files in utils/ that are camelcased when they do not need to be. This is also causing some docs to not build

[2018-01-30 23:27] caphrim007 opened #1380 "fix the various docs warnings/errors"
There are a large number of warnings and errors that are being raised due to docstrings that are malformed and python files that are misspelled.

[2018-01-30 23:51] caphrim007 opened #1381 "add the mqtt LTM monitor which came in 13.1.0"

[2018-02-01 01:11] #1378 closed, assigned to caphrim007

[2018-02-01 01:11] #1379 closed, assigned to caphrim007

[2018-02-01 01:11] #1380 closed, assigned to caphrim007

[2018-02-01 01:11] #1381 closed, assigned to caphrim007

[2018-02-01 06:19] jasonrahm commented on #1357
do you know what a successful result should be @chen23? I'm getting:

"commandResult": "Unknown exception during ping ://:8080\n"

I am seeing the tmsh command executed appropriately in the audit log, but I'm not sure what (if anything) it actually did. Do you know the specifics of what kinds of licenses it revokes? And what that means to the operational state of the BIG-IP?

[2018-02-02 09:49] wdauchy opened #1383 "python34 compat"
Hello,

Since f5-icontrol-rest-python v1.3.5 release we had to stick the version in requirements:
f5-icontrol-rest==1.3.4
in order to stay compatible with python34
see also https://github.com/F5Networks/f5-icontrol-rest-python/issues/147

Thanks,

[2018-02-07 18:04] Preyansh91 opened #1386 "Need an unnamed resource to tet the version details of a bigip."
There is a  method to get the version running on bigip where we can use tmos_version, but there is no option in the source code to get the version details which we get from /mgmt/tm/sys/version. Sometimes details like build, product  etc are required, like for automating oprofiles for performance tests.

[2018-02-07 18:16] caphrim007 commented on #1386
@Preyansh91 so you're asking for an SDK API to /mgmt/tm/sys/version?

[2018-02-07 18:20] Preyansh91 commented on #1386
yes just like we have to /mgmt/tm/sys/dns....I checked it out in the code. We have a class Dns in dns.py under the f5/bigip/tm/sys/ folder which inherits from the Unnamed resource. If we can add a file like version.py it would be great because we need those stats for our oprofiles automation. If you permit I can submit the code for the same with unit and functional tests.

[2018-02-08 01:20] #1386 closed, assigned to nobody

[2018-02-13 23:45] caphrim007 opened #1388 "external data group patching is unallowed"
This is unallowed by the SDK, but is allowed via the API. fix the SDK to allow patching an external sys file (data group not ifile)

[2018-02-14 01:54] #1388 closed, assigned to caphrim007

[2018-02-14 04:44] caphrim007 opened #1390 "Add API for net timer-policies"
This needs to be added to the SDK to fullfill the Ansible PR https://github.com/F5Networks/f5-ansible/issues/621

[2018-02-14 04:52] #1390 closed, assigned to caphrim007

[2018-02-14 06:05] caphrim007 opened #1392 "add support for service policies to sdk"
the network -> service policies API is not part of the SDK. It is needed for this Ansible request https://github.com/F5Networks/f5-ansible/issues/622

[2018-02-14 06:14] #1392 closed, assigned to caphrim007

[2018-02-16 01:34] caphrim007 opened #1394 "debug output overwhelms memory on long-running sdk usage"
The debug output gathering should be turned off by default, and an option to enable it be provided.

[2018-02-16 14:44] #1394 closed, assigned to caphrim007

[2018-02-22 21:32] jasonrahm opened #1397 "add sys/clock endpoint"
endpoint requested on DevCentral

[2018-02-22 22:42] vsnine opened #1399 "uptime endpoint?"
Noticed Jason's sys/clock updates and was reminded of this thread I made a few years ago on a way to query the uptime of a BIG-IP system over REST: https://devcentral.f5.com/questions/get-uptime-of-a-system-over-rest

Would this be something that could get added to the API? Do newer versions of REST API have a feasible way to obtain the uptime? Would it make sense to get it over the SOAP API?

Tha

[2018-02-22 22:51] caphrim007 commented on #1399
@vsnine I'm not aware of such an endpoint. The method you have there would be the recommended way

[2018-02-26 06:05] vsnine opened #1400 "shared/sys/backup endpoint"
Hi All,
I took a first try at writing some code to handle using the backup worker capability that exists in BIG-IP. I use the worker in some of my scripts using requests, since it completes immediately and running the typical save sys ucs command will timeout, sometimes.

Could I get someone to check out my work? Not sure if I need to add anything else.
https://github.com/vsnine/f5-common-python/c

[2018-02-26 06:16] caphrim007 commented on #1400
@vsnine to make it not require name, add this to the resource

```self._meta_data['required_creation_parameters'] = set()```

Include in the `set` anything it requires. in other words, dont use `update`

[2018-02-26 06:18] caphrim007 commented on #1400
also, i think id, or uuid, or both are supported unique identifiers in the icontrol rest lib that the sdk uses. so you can probably replace `name` in your `load` calls with `id` or `uuid`

https://github.com/F5Networks/f5-icontrol-rest-python/blob/1.0/icontrol/session.py#L321

[2018-02-26 06:19] caphrim007 commented on #1400
looks good otherwise. i suspect the stalled jobs thing is a bug in bigip. does the same behavior occur when you run multiple tmsh commands?

[2018-02-26 22:30] jasonrahm commented on #1397
merged, closing issue

[2018-02-26 22:30] #1397 closed, assigned to jasonrahm

[2018-02-26 22:31] jasonrahm commented on #1357
this has been merged to development @chen23, can you test and confirm before I close this issue?

[2018-02-27 03:17] jasonrahm commented on #1354
details on how to use this?

[2018-03-05 16:45] aaronmurraywork opened #1404 "Problem with getting GTM pool information with new F5 version"
I am having a problem with code that was working against a GTM in version 11.6.0 that can not get the information now in version 12.1.2.

pool_obj = mgmt.tm.gtm.pools.pool.load(partition='Common', name=gtm_pool['Pool_Name'])

This is the piece of code I am running and a example value of the 'Pool_Name' variable is 'OTCWebPool1'  in f5 version 11.6.0 it ran just fine but when I upgraded to 12.1.2 o

[2018-03-05 17:54] caphrim007 commented on #1404
@aaronmurraywork in version 12.0.0 of BIG-IP, the APIs for this changed to require a "type" of pool to query for. Unfortunately, this was a breaking change in the API.

To get the information you want, include the type of the pool in your API call.

For example,

[code]

[2018-03-05 21:35] aaronmurraywork commented on #1404
Thank you for your response it helped me find the right answer.  The actual needed was below.  I needed to replace the word 'pool' with the 'a' as well.

pool_obj = mgmt.tm.gtm.pools.a_s.a.load(partition='Common', name=gtm_pool['Pool_Name'])

Thanks.

[2018-03-05 21:43] #1404 closed, assigned to nobody

[2018-03-07 05:08] ouri93 opened #1405 "policy-strategy is not supported"
It seems the current python SDK doesn't support policy-strategy collection and its resource.

Collection URI: /mgmt/tm/ltm/policy-strategy
Resource URI: /mgmt/tm/ltm/policy-strategy/operands/~resource id

Thank you.

[2018-03-08 01:39] caphrim007 opened #1406 "add feature-module api"

[2018-03-08 02:39] #1406 closed, assigned to nobody

[2018-03-21 10:07] farhan1988 opened #1412 "Can we create Monitor and associate with Pools using the ManagementRoot instance?"
Hi,

Its more of a query and not an Issue. Please guide / assist me on the below query

Like how we create monitor using REST (for instance ltm) :

POST - Body
[code]

and to associate it with Pool,

Is there a way to achieve it using the Python SDK?

Regards,
Farhan

[2018-03-21 13:47] farhan1988 commented on #1412
I figured it

was unable to find the type of Monitor...

Thank you.

[2018-03-21 13:47] #1412 closed, assigned to nobody

[2018-03-27 16:25] cohoe opened #1413 "setup.cfg RPM dependencies"
I believe this project has the same issue as [f5-icontrol-rest-python](https://github.com/F5Networks/f5-icontrol-rest-python/issues/151). RPM build systems that consume:
[code]

End up searching for packages "six" and "f5-icontrol-rest", which don't exist in RPM-land. I believe this file should look like:
[code]

This would then find python-six (el7/base) and python-f5-icontrol-rest (built in a si

[2018-03-27 19:30] #1413 closed, assigned to nobody

[2018-03-28 04:33] caphrim007 opened #1415 "add LTM DNS api"
This is needed for an Ansible module to manipulate LTM DNS nameservers

[2018-03-28 04:56] #1415 closed, assigned to caphrim007

[2018-04-05 01:45] caphrim007 opened #1418 "gtm virtual server names are not transformed"
GTM virtual server names can include forward slashes in them and must be transformed in much the same way that topologies are transformed.

[2018-04-05 03:25] #1418 closed, assigned to caphrim007

[2018-04-13 23:00] caphrim007 opened #1423 "fix breaking issues in codestyle"
a new version of pycodestyle was released and this revealed a lot of breaking checks that were previously being covered up by flake8 (because it required a lesser version of pycodestyle).

Fix these issues so that PRs can be merged again

[2018-04-14 04:48] #1423 closed, assigned to caphrim007

[2018-04-16 23:37] caphrim007 opened #1426 "add security log profile endpoint"
needed for ansible

[2018-04-17 05:53] #1426 closed, assigned to caphrim007

[2018-04-18 19:49] nugend commented on #549
I'd appreciate it if the proxy class for BigIQ was added to the API

edit: Github says I just unassigned some people from the issue. I have no idea how that happened. I shouldn't have permissions on this repo

[2018-04-18 20:46] nugend opened #1430 "Debug output is broken since debug output became optional in the icrs"
https://github.com/F5Networks/f5-icontrol-rest-python/pull/149

Change is needed to pull from the correct variable and also a way to enable debug output is needed.

[2018-04-18 21:10] caphrim007 commented on #1430
@nugend you can do this. Either provide a `debug` arg to the ManagementRoot, or, set the `debug` property to `True` after instantiation

[2018-04-18 22:42] nugend commented on #1430
Sorry, should've specified. This is for `bigiq.ManagementRoot`

[2018-04-18 22:43] nugend commented on #1430
@caphrim007 Sorry, should've specified. This is for `bigiq.ManagementRoot`

[2018-04-19 05:10] vsnine commented on #549
I looked into this more as I am beginning more serious work with the SDK, and ran into a few issues with the iWorkflow REST proxy as it is when used with BIG-IQ CM.

In `_get_device_uuid` the code assumes that the devices are located in the device group `cm_cloud_managed_devices` which I don't believe exists in BIG-IQ by default. The SDK is hard-coded so adding other groups is a problem.
https://g

[2018-04-19 15:44] nugend commented on #549
@vsnine I'm new to using this package, but my assumption from up above was that a different proxy class using a slightly different API would have to be written for BigIQ. However, I'm 99% certain that the hard coded reference to `cm_cloud_managed_devices` is a bug given that device group is an argument to that class.

In any case, I find it odd that the Proxy is composed the way it is. It'd make m

[2018-04-20 15:21] vsnine commented on #549
@nugend I'd say you are right that a BIG-IQ flavoured proxy is needed. It probably is possible to pull the ManagementProxy functions out and place them in a spot where they can be used for both BIG-IQ and iWorkflow.

[2018-04-20 16:38] caphrim007 opened #1431 "exists for log profiles is broken"
it is using load instead of exists

[2018-04-20 17:40] #1431 closed, assigned to caphrim007

[2018-04-23 08:29] vvoody opened #1433 "ValueError: signal only works in main thread"
Hi, I used in Django runserver (dev) and uwsgi (production), same exception raised. It's due to signal cannot be used in non-main thread.

Currently I have to monkey-patch `HAS_SIGNAL = True` to `HAS_SIGNAL = False` in `f5/bigip/__init__.py`. Hope there will be an option to disable signal use. Thanks.

[code]

I put my code in Django views to get results from my GTM. It only works when I pass `--n

[2018-05-03 07:34] ofekes01 opened #1434 "Get BigIQ Policy list with python sdk return null"
I had upgrade my BigIQ from version 5.1.0 to 5.4.0 and now - get policy list return null.

pools = mgmt_root.cm.shared.licensing.pools_s.get_collection()

I use python sdk 3.0.14

[2018-05-04 00:31] Preyansh91 opened #1435 "Add support for analytics in f5-sdk"
We have analytics which becomes available after provisioning afm. For example
tmsh modify analytics global-settings avrd-interval 10

Can this be added to f5-sdk? Analytics becomes available only after we enable afm .

[2018-05-07 12:54] rcarpa commented on #1433
Had a similar problem in a multi-threaded application. Gave a quick look to the source code.

Signals are used only in one place: to timeout an API call to the load balancer during the object initialization. In meantime it introduces a lot of complications:
- The signal handler raises an exception and complicates any soft error handling (retry / graceful shutdown).
- Blocks usage in multi-threaded

[2018-05-07 14:17] caphrim007 commented on #1433
@At0mik the timeout in the requests library is not a hard timeout, it is a connect timeout The timeout in the sdk is a "give up" timeout.

The difference is that if you can connect at all, but the rest API hangs, you will never timeout with requests. Likewise, if reads are slow, you will also hang forever.

The sdk enforces a hard timeout so that the script is killed if it exceeds the timeout.

[2018-05-07 14:31] rcarpa commented on #1433
@caphrim007, thanks for the information.
However, I'm still confused. This hard timeout is used by a single rest call in the entire library.  Is it a workaround for a bug in the API for the  "GET /tm/sys/" call?

[2018-05-07 14:41] caphrim007 commented on #1433
It's used for that call because that call is the first call made when connecting to the device for the first time. The majority of the time out problems occur upon first connection. They almost never occur afterwards

[2018-05-07 15:14] rcarpa commented on #1433
You cited slow reads and API hangs. Are you aware of practical cases when API hanged while the F5 remained healthy at the routing/load balancing part? Seems like problems would mainly happen if the F5 is overloaded (CPU or network wise). Is my assumption true? Are you aware of other cases when sigalarm can be triggered?

We consider disabling the signal related code because multi-threading is crit

[2018-05-09 08:33] Mike997 opened #1436 "CPU, memory, disk usage and http profile using the BIG-IP Python SDK"
It seems like the following endpoints are missing from the SDK, is that indeed the case or are they placed somewhere else? If not, would it be possible to add them unless there was a reason not to?
Statistics for:
CPU
Memory
Disk
Http profiles
The REST endpoints are: mgmt/tm/sys/hostInfo (for CPU and memory) mgmt/tm/sys/disk/logical-disk (for disks) mgmt/tm/ltm/profile/http/stats (for http profile

[2018-05-09 08:37] wojtek0806 commented on #1436
@Mike997  the http profile stats just need to be enabled on the collection, but the other 3 listed are not there, when do you need this by ?

[2018-05-09 09:31] Mike997 commented on #1436
The sooner the better, I can work around it by creating an ugly workaround and poll the rest interface directly for some metrics, but I'd be grateful with whatever you can do :)

[2018-05-14 09:38] vvoody commented on #1404
### Wide IP
[code]

### Pool
[code]

[2018-05-15 09:15] farhadkam opened #1437 "getting error while trying to install f5-sdk"
Hi Experts,

I am getting this error when trying to install f5-sdk with : sudo -H pip install f5-sdk

[code]

Does anyone know how to fix this?

Thanks.

[2018-05-15 12:28] Mike997 commented on #1436
Based on the release schedule 3.0.15 will be out soon'ish, right? Do you think that it'll be possible to have the profile stats and the three missing ones available in that release?

[2018-05-15 16:31] caphrim007 commented on #1437
@farhadkam you need to have sufficient privileges to install it. Use `sudo` to install it.

[2018-05-16 01:53] farhadkam commented on #1437
Hi caphrim007I am already using sudo -H to run this but getting the error above.
Interesting is if I run with pip3 it works!
Any suggestions?

[2018-05-16 02:11] caphrim007 commented on #1437
@farhadkam my best guess is https://stackoverflow.com/questions/33004708/osx-el-capitan-sudo-pip-install-oserror-errno-1-operation-not-permitted

[2018-05-16 12:52] wojtek0806 commented on #1436
@Mike997 I cannot make any promises as this depends if the tests pass on the new code, I will paste a link to my repository that has the untested code so you can take it for a spin in the meantime, i hope this helps.

It is worth mentioning that hostInfo endpoint presents data the same way /stats/ endpoints do. In short term it will not be pretty, but given that we have another endpoint like this

[2018-05-16 12:54] wojtek0806 opened #1439 "Add /sys/memory endpoint"

[2018-05-16 12:57] wojtek0806 opened #1440 "Better formatting for /stats and similiar endpoints"
Apart from /stats we have /sys/hostInfo and /sys/memory endpoints which present data in a specific format. While we have a utility that will format that data if the user chooses to do so, it would be good if the output is streamlined and introduced into SDK as perhaps a new method to be called upon, we have to do this in a separate method as not to break backwards compatibility.

Opening this issu

[2018-05-17 14:59] Mike997 commented on #1436
Awesome, you're the best!

[2018-05-17 16:02] #1436 closed, assigned to wojtek0806

[2018-05-17 22:00] jmcgrath207 opened #1442 "Authentication Issue 401"
I am having a issue where I keep on get 401 HTTP errors with a user even though I can log into the GUI and SSH.

[code]

Here are the details about the User and the BigIP version that is running

[code]

[2018-05-18 04:01] caphrim007 commented on #1442
@jmcgrath207

are you logging in with the username 'admin'? If not, then it won't work on the version of BIGIP that you have. generally speaking the REST API doesn't "work" until 12.0.0 at the earliest

[2018-05-18 06:22] jmcgrath207 commented on #1442
yeah, the username is not named `admin` . Well, that sucks. Thanks for taking a look at this @caphrim007 .

[2018-05-18 06:22] #1442 closed, assigned to nobody

[2018-05-19 05:28] caphrim007 opened #1443 "make gtm pools support slashes"
GTM pools support slashes, but the sdk is preventing them. Fix this

[2018-05-19 15:33] #1443 closed, assigned to nobody

[2018-05-22 04:26] bobyaaaaw opened #1445 "Add security/nat endpoints (Firewall NAT)"
BigIP 12.1.0 added support for AFM Firewall NAT features.

related endpoints needed are:
 security/nat/source-translation
 security/nat/destination-translation
 security/nat/policy

[2018-05-22 04:28] bobyaaaaw commented on #1445
Please assign this to me. I've got this started, pull request coming soon.

[2018-05-22 07:04] rduchez opened #1446 "unable to pull wide-ip gtm irules"
Greetings

Thanks for the bang-up job on this sdk.  I ve been trying to figure out how to pull irules information from the wideip configuration. This is for inventory purposes.

wideips = mgmt.tm.gtm.wideip.a_s.get_collection()
for wideip in wideips:
     print wideip.name <--works
     print wideip.enabled <--works
     print wideip.poolLbMode <--works
     print wideip.rules <--Does not work

ca

[2018-05-23 00:17] abhishekthukaram commented on #1445
Hi Bob
This has already been written and submitted , in local repository of gitswarm

[2018-05-28 13:45] Mike997 commented on #1436
Any idea of when 3.0.15 will be released? Last 10 versions was released every 8-15 days, but it's now been almost 2 months.

[2018-05-28 20:49] caphrim007 commented on #1436
@Mike997 we release versions if and only if there are changes during the 2 week dev cycle. The last 2 months there have not been changes.

The last 2 weeks have seen several changes, so a release is being cut right now.

Generally speaking we release every 2 weeks on a Friday (or the coming weekend). This last friday was one of those dates. So feel free to add that cycle to your own calendar if ne

[2018-05-28 21:37] Mike997 commented on #1436
Great, thanks! So it should be on the 8th or so?

[2018-05-28 22:09] caphrim007 commented on #1436
@Mike997 should be available now

[2018-05-28 22:10] caphrim007 commented on #1436
if there are changes between this last friday and 2 weeks from this last friday, then there will be another release on the 8th. otherwise, we skip a date and wait for the next 2 week period to expire

[2018-05-28 22:45] Mike997 commented on #1436
Thanks @caphrim007 ! You guys are awesome

[2018-05-30 11:11] alexnimo opened #1452 "client ssl modification issue"
Hi,

Not sure if it's a bug or I'm doing something wrong.
When trying to modify client ssl profile with a specific option, it turns on all of the options in the profile.
simple example:
`en_mode = {'mode':'enabled'}`
`sslprof.modify(**en_mode)`
`sslprof.update()`

This will turn on all of the profile options...
screenshot attached:
![image](https://user-images.githubusercontent.com/25372741/407169

[2018-05-30 11:15] penghon commented on #1452
Print screen shows only one option enabled. The rest are in the available
options field, not yet enabled.

On Wed, May 30, 2018 at 7:11 PM, alexnimo <notifications@github.com> wrote:

[2018-05-30 11:50] wojtek0806 commented on #1452
en_mode = {'mode':'enabled'}
sslprof.modify(**en_mode) <== this command is enough to make changes
sslprof.update() <=== this is the issue

update() method uses PUT whereas modify() uses PATCH, when using PUT method we allow F5 to set other settings to default, which is why you see this.

Besides this, you should not use update() after modify as this is redundant. Using modify() is enough and is re

[2018-05-30 12:07] alexnimo commented on #1452
Thanks for the explanation!
`update()` was the issue!

[2018-05-30 12:11] #1452 closed, assigned to nobody

[2018-05-30 12:11] wojtek0806 commented on #1452
i am glad this helped, ill close the issue now, if you have any other problems let us know

[2018-06-05 02:29] brandoncj opened #1453 "is there a function to get pool's status, availabilitystate?"
I can get the pool's status with the rest api. may i get it with the sdk?

[2018-06-05 18:32] jasonrahm commented on #1453
Yes, though admittedly this needs work.

[code]

[2018-06-06 09:38] brandoncj commented on #1453
thx

[2018-06-06 09:38] #1453 closed, assigned to nobody

[2018-06-06 15:17] jbnance opened #1454 "RFE: Ability to reset statistics"
Issue #293 added support for pulling virtual server / pool / etc statistics but it appears that support for resetting statistics was not included.  I'd like to request the addition of this functionality.

It may make sense to add a "delete" function which resets the statistics (e.g., `virtual.stats.delete()`).

[2018-06-07 14:51] jasonrahm commented on #1440
pool members stats are not currently handled well if at all in the current Stats utility. That needs work as well. Some thoughts on end-user experience:

[code]

For the stat fields themselves, it would be nice to flatten everything to attributes on the stats objects rather than dictionary k,v pairs like current behavior. So instead of having to iterate through all the items and pull description/v

[2018-06-07 22:49] wojtek0806 commented on #1440
you can include decorators that will do this for you rather than modify the data we get straight out of the unit. Once i get some time (soon) I will experiment and put some proposals here

[2018-06-07 22:51] wojtek0806 commented on #1454
@jbnance hello , the way you reset stats is by issuing reset command via TMSH, from what I recall we can do this by adding ability to send command payloads to stats endpoints. I need to look at it at some point

[2018-06-08 03:02] brandoncj opened #1455 "sth wrong with getting gtm api"
I get ltm's net information with rest api, but it doesn't work with gtm device. The only difference is the device type, the uri is provided by the api doc.
How can i get gtm's information with  iControlRESTSession()?

ltm_session = iControlRESTSession('admin', 'admin')
dev1 = ltm_session.get('https://192.168.1.9/mgmt/tm/net')
print(dev1.text)

gtm_session = iControlRESTSession('admin', 'admin')
de

[2018-06-08 16:23] maufonfa opened #1456 "Add tm.sys.hardware"
I'm working on extending Napalm functionality but using the F5 SDK. I realized that there's no support for this command.
I don't see any another command where I can get the Hardware Version of the F5.

[2018-06-08 21:18] maufonfa commented on #1456
The serial number is also in this command.

[2018-06-11 01:49] #1455 closed, assigned to nobody

[2018-06-11 16:38] jasonrahm opened #1457 "Ability to load the examples"
Trying to load the example virtual, pool is met with a KindTypeMismatch due to the example being returned as a collection type:

KindTypeMismatch: For instances of type ''Virtual'' the corresponding kind must be ''tm:ltm:virtual:virtualstate'' but creation returned JSON with kind: u'tm:ltm:virtual:virtualcollectionstate'

[2018-06-12 19:15] jasonrahm commented on #1457
It feels kind of hacky, but I can change this:

[code]

to this:

[code]

Thoughts @caphrim007?

[2018-06-14 23:49] jasonrahm opened #1461 "Add tm/sys/connection endpoint"
connection table endpoint is missing. Need to add it.

[2018-06-18 06:55] ArtiomL opened #1462 "Licensing Pools with BIG-IQ v5.4"
Hi,

When trying to get a licensing pool list from BIG-IQ v5.4 using the following command:

`pools = mgmt_root.cm.shared.licensing.pools_s.get_collection()`

as documented in [test_pools.py](https://github.com/F5Networks/f5-common-python/blob/development/f5/bigiq/cm/shared/licensing/test/functional/test_pools.py), we're getting this response:

[code]

This used to work with BIG-IQ `v5.1` and f5-s

[2018-06-18 13:10] jasonrahm opened #1463 "Allow delete method on collections"
Those wanting to use odata with request parameters, which is valid via the REST interface, cannot do this in the sdk because we limit the delete method to a resource. Need to allow the delete method on collections as well.

[2018-06-18 13:12] wojtek0806 commented on #1463
Some examples of this via POSTMAN would be useful to asses feasibility, as this would be a major change

[2018-06-18 13:15] wojtek0806 commented on #1463
I would not enable this on all collections just yet but do this on those that we know this will be used imo, same as we do with Stats

[2018-06-19 19:58] jbnance opened #1464 "Partition Inconsistency with Rules in Common"
If an iRule in the 'Common' partition is loaded without specifying the partition (defaulting to 'Common') the `partition` property is missing from the returned object and the `fullPath` property does not include the partition:

[code]

If the partition is specified data is as expected:

[code]

[2018-06-20 08:04] wojtek0806 commented on #1457
merged

[2018-06-20 08:04] #1457 closed, assigned to jasonrahm

[2018-06-20 22:53] jasonrahm commented on #1456
this has been merged to development branch and will release on next build. Closing issue.

[2018-06-20 22:53] #1456 closed, assigned to jasonrahm

[2018-06-21 20:18] jasonrahm commented on #1461
merged to development branch, closing issue.

[2018-06-21 20:18] #1461 closed, assigned to jasonrahm

[2018-06-21 20:29] jasonrahm commented on #1464
What is your desired state @jbnance?

Not everyone uses partitions, so if we require it as a kwarg, that's frustrating for a lot of people. At the same time, we don't have direct control of the rest interface that isn't returning the partition as an attribute when not specified in the request. It's odd, because I would assume on a system without partitions other than Common this is ok. But I have

[2018-06-21 20:41] jasonrahm commented on #1454
@wojtek0806 FYI, the way this is done via rest is (for example, a pool):

`POST /mgmt/tm/ltm/pool {"command": "reset-stats", "name": "testpool"}`

Effectively we'll need to enable exec_cmd on collections as well.

[2018-06-21 20:52] jbnance commented on #1464
My ask is purely about the returned data.  I request that the `partition` property is always included in the returned object and that the `fullPath` property always include the partition.  That is how virtual servers, pools. nodes, monitors, etc, etc currently behave.

If that means that the SDK always sends the `partition` in the request I think that defaulting to "Common" is the right approach (

[2018-06-21 21:25] jasonrahm commented on #1446
Hi @rduchez, this works fine for me on BIG-IP 13.1.0.5 and sdk version 3.0.15:

[code]

What version fo SDK and BIG-IP are you using?

[2018-06-21 21:29] jasonrahm commented on #1446
ah...could be that some of your wideip's do not have rules associated? That attribute is missing on those if so. I added a second wideip to my box with no iRule and get error:

[code]

But if I check for the attribute before printing it works fine:

[code]

[2018-06-21 23:26] jasonrahm commented on #1463
FYI you get an error if you just send a DELETE command on the collection without options request parameter, and the system will give an error for any pattern matching default resources.

[2018-06-22 15:29] jasonrahm commented on #1463
Merged to development, closing issue

[2018-06-22 15:29] #1463 closed, assigned to jasonrahm

[2018-06-22 18:25] jasonrahm commented on #1439
Merged to development, closing

[2018-06-22 18:25] #1439 closed, assigned to wojtek0806

[2018-06-27 16:20] jbnance commented on #1464
This same situation exists for monitors as well.  Shall I open a new issue or modify this request?

[2018-07-06 20:50] jasonrahm commented on #1454
this should be a simple addition of the CommandExecutionMixin to the collections of interest for stats. Any objections @wojtek0806 to selecting the obvious objects  this would apply and starting there?

[2018-07-09 15:43] #1360 closed, assigned to nobody

[2018-07-09 19:21] jasonrahm commented on #1376
This has been merged to development and will go out with the next release.

[2018-07-09 19:21] #1376 closed, assigned to nobody

[2018-07-12 03:00] sanathkumarbs opened #1476 "Use os.stat to get the size instead of reading the file in memory"
Here the entire file is read, that's a very expensive operation and can easily hit a MemoryError.

https://github.com/F5Networks/f5-common-python/blob/0a16f6e10b29ba3bca1f1dabf9a6f8f5b438296c/f5/bigip/mixins.py#L272
To get the size, it might be better off to do:

[code]
Wanted to bounce this idea before I created a PR. Let me know if this fix makes sense, will create a PR for this.

[2018-07-12 03:48] caphrim007 commented on #1476
@sanathkumarbs so long as it meets two requirements

1. does it return the same value
2. is it more performant (faster, less memory, etc)

if the above are true, send the PR.

[2018-07-14 22:51] nkadel opened #1478 "RPM building is ugly"
The build-rpms.sh script mishandles running without an argument. It should be updated to deduce the correct SRC_DIR without arguments, and to handle the normal RPM 'dist' option instead of renaming the RPM on a script hardcoded basis, which makes the  RPM not match its filename.

[2018-07-16 14:40] chen23 commented on #1357
Yes, this works.  Thanks.

[2018-07-17 21:18] sangramaltur opened #1479 "Dos device vector modification support"
# user cannot modify the device dos vectors thresholds etc

[2018-07-17 21:39] jasonrahm commented on #1357
good deal, closing this out.

[2018-07-17 21:39] #1357 closed, assigned to jasonrahm

[2018-07-18 01:43] caphrim007 commented on #1478
this is now fixed. thanks!

[2018-07-18 01:43] #1478 closed, assigned to nobody

[2018-07-18 01:44] caphrim007 commented on #1479
i think we've now merged your PR. thanks!

[2018-07-18 01:44] #1479 closed, assigned to nobody

[2018-07-21 00:52] sangramaltur opened #1481 "Unable to restart big ip tmm service"
sdk doesnt have the support to restart tmm service

[2018-07-24 21:44] drenout opened #1483 "Add license installation"
Add license installation command similar to the revoking the license:

Code snippet for the revoking the license:
[code]
Code snippet for the license installation:
[code]

[2018-07-24 22:45] jasonrahm commented on #1483
we can merge yours. @drenout but can you first change the two append statements tp a single extend as in my PR submitted for the same.

[2018-07-25 03:31] #1483 closed, assigned to jasonrahm

[2018-07-25 14:59] sangramaltur commented on #1481
Resolved : https://github.com/F5Networks/f5-common-python/commit/89428a4ad344ad2e563c086616ff78b36ee156d9

[2018-07-25 14:59] #1481 closed, assigned to nobody

[2018-07-25 21:47] sonicblind opened #1486 "Why is ASM Violations collection not available?"
Hi,

I am wondering how can I get a collection of all ASM violations?

To me, the fact that I am able to fetch them via this REST call:
   `https://<hostname>/mgmt/tm/asm/violations/`
should be a proof that the F5 API does support this collection.

Why is it then not implemented in f5-common-python?
And why is it also missing in ASM namespace in official [user guide](https://devcentral.f5.com/d/th

[2018-07-26 17:54] kblankenship11 opened #1487 "Cannot create FQDN Node using SDK"
When I use the following code to create a node on the F5:

from f5.bigip import ManagementRoot
mgmt = ManagementRoot(big_ip, big_ip_user, big_ip_pass)
ltm = mgmt.tm.ltm
ltm.nodes.node.create(partition="Common", name="192.168.10.10", description="Created by Python")

I get the following error:
f5.sdk_exception.MissingRequiredCreationParameter: Missing required params: ['address']

However in the iC

[2018-07-26 21:09] sangramaltur opened #1488 "Unable to reset nat translation stats"
sdk doesnt have the support to reset nat translation objects stats

[2018-07-26 22:28] jasonrahm commented on #1488
Pull request #1489 merged to development and will be rolled in next release. Closing issue.

[2018-07-26 22:28] #1488 closed, assigned to nobody

[2018-07-27 15:34] erjac77 opened #1490 "Add SYS Crypto CSR endpoint"
BIG-IP v12 added an endpoint to manage cryptographic certificate signing requests.

`/mgmt/tm/sys/crypto/csr`

**TMSH Command**
[code]

Example:

`create csr example key testkey.key common-name "My Company Inc." country "US"
challenge-password "abcd"`

[2018-07-27 19:30] jasonrahm commented on #1487
So we need to support the exclusive attributes of address or fqdn on create. It doesn't appear I can update a node via REST, is that your experience?

[2018-07-27 19:42] kblankenship11 commented on #1487
I haven't actually tried that myself with REST directly, so I'm not sure. I submitted a case to F5 support with this issue--and they led me here. This was their consensus:

"Engineering Services notes that the Python SDK is expecting address to be set to "any6" when configuring a fqdn node."

[2018-07-27 21:08] jasonrahm commented on #1487
If I set it at all when using fqdn I get an error. I'll work on this this weekend

[2018-07-27 21:37] jasonrahm commented on #1487
it's definitely possible currently as shown below, but a little wonky since the SDK requires the address but the REST API does not:

[code]

It looks like all we have to do is require either address or fqdn to make the experience better. But for now, there is a workaround.

[2018-07-27 21:39] jasonrahm commented on #1487
To clarify from the larger message above, the way you can create the fqdn node with the sdk is to provide the address as any6 in addition to specifying the fqdn:

[code]

[2018-07-27 21:55] jasonrahm commented on #1487
I've updated node resource to only allow address or fqdn, and resulting successes with one or the other and then the error when both are supplied will look like this:

[code]

Acceptable? If so, I'll get tests written for this change this weekend and submit PR

[2018-07-30 09:41] sonicblind commented on #1486
In case somebody would be interested in the same topic, I managed to fix this for myself by extending the f5-common-python.

Under ./f5/bigip/tm/asm/ I created a new file violations.py as a new module for ASM violations.
I used existing module attack_types.py as a template for violations.py.

Then, I altered the existing __init__.py and made only two simple additions:
- imported Violations_s from

[2018-07-30 10:24] VelvetRope opened #1494 "Add GTM Link submodule"
I'm running SDK v3.0.18 with GTM on TMOS v13.1.0.8
I need to access the 'link' submodule but it looks like it hasn't been implemented yet in the SDK:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/crazyguy/.local/lib/python2.7/site-packages/f5/bigip/mixins.py", line 102, in __getattr__
    raise AttributeError(error_message)
AttributeError: '<class 'f5.bigi

[2018-07-30 13:02] kblankenship11 commented on #1487
Yes, that is exactly what I was looking for!

[2018-07-30 14:56] jasonrahm commented on #1486
others will still need this functionality. Feel free to post your code here and I will write tests for it so it can be merged for everyone.

[2018-07-30 18:44] jasonrahm commented on #1487
This has been merged to development and will be in the next dot release. Closing issue.

[2018-07-30 18:44] #1487 closed, assigned to nobody

[2018-07-31 11:53] sonicblind commented on #1486
Under f5/bigip/tm/asm/ I created a new file called violations.py with this following content. It is basically a copy of attack_types.py from the same directory, I only replaced the necessary names etc.

[code]

Then I altered the code of f5/bigip/tm/asm/\_\_init__.py. I added only two lines, the last import statement and the last item in self._meta_data['allowed_lazy_attributes']:

[code]

[2018-07-31 12:38] sonicblind commented on #1486
And here is a simple script which shows how to achieve the same, but without touching the official modules of f5-common-python.

[code]

[2018-08-03 13:35] Zoda123 opened #1495 "inheritedTrafficGroup Can not be modified. Bug?"
I am trying to change my logging profile
[code]
After the update the correct logging profile is added but the inheritedTrafficGroup is changed to false.
I tried to reset it to true with the following code but had the same result:
[code]
Is there some way that I can use the update() function for this without it changing the inheritedTrafficGroup value?

[2018-08-06 18:12] jasonrahm opened #1497 "Change SDK separate handling for v11/v12+ GTM objects"
Currently, if users have v11 and v12 devices they need to manage, they need to write separate functions as we don't provide a single method to handle both cases. This is broken.

[Reference](https://devcentral.f5.com/questions/handling-differences-in-v11-v12-in-python-sdk-for-icontrol-rest-61020#comment68259)

[2018-08-07 09:54] wojtek0806 commented on #1494
@VelvetRope
As discussed offline, the first issue with GTM monitors is no longer present, I have tested this on 3.0.19:

[code]

The second problem is with GTM links, that is not implemented and needs to be done.

[2018-08-07 09:56] wojtek0806 commented on #1494
Note to self: The GTM link objects need datacenter object configured

[2018-08-07 09:58] wojtek0806 commented on #1495
Please use modify() function instead, update() runs on PUT HTTP method and that causes undefined features to be replaced by default in BIGIP. Let me know if this works with modify()

[2018-08-07 09:59] wojtek0806 commented on #1437
closing the issue as no response

[2018-08-07 09:59] #1437 closed, assigned to nobody

[2018-08-07 09:59] #1445 closed, assigned to nobody

[2018-08-07 10:00] #1383 closed, assigned to nobody

[2018-08-07 10:02] #1323 closed, assigned to jasonrahm, wojtek0806

[2018-08-07 10:03] wojtek0806 commented on #318
i believe this is not resolved

[2018-08-07 10:03] #318 closed, assigned to swormke

[2018-08-07 10:03] wojtek0806 commented on #495
i believe this is now resolved

[2018-08-07 10:03] #495 closed, assigned to wojtek0806

[2018-08-07 10:04] #446 closed, assigned to pjbreaux

[2018-08-07 10:08] #431 closed, assigned to pjbreaux

[2018-08-07 10:08] #457 closed, assigned to pjbreaux

[2018-08-07 10:08] wojtek0806 commented on #538
merged so closing

[2018-08-07 10:08] #538 closed, assigned to nobody

[2018-08-07 10:10] wojtek0806 commented on #1494
@jasonrahm can you work on this one ?

[2018-08-07 10:13] wojtek0806 commented on #1497
the whole interface was setup this way, the way our classes work is that they are chained to roughly reflect the REST URI, since v11 and v12 interfaces changed drastically this is reflected in the modules. I would suggest doing something that is not going to change the current class structures for those endpoints i.e. an external utility rather than SDK change

[2018-08-07 11:20] Zoda123 commented on #1495
Thank you for your feedback.
That is the info I also found online and I tried modify() but was not able to get it to work.
Are you maybe able to give me an example of how the modify patch part should look like?

[2018-08-07 12:27] wojtek0806 commented on #1495
modify(inheritedTrafficGroup='true') you would use keyword arguments as a parameter

[2018-08-07 20:07] niall-munnelly commented on #1497
Thanks for this; we have a clearer understanding of what to expect using the SDK, now.

[2018-08-07 21:23] jasonrahm commented on #1497
Fair enough, @wojtek0806. I'll look at building a utility we can include.

[2018-08-08 09:28] wojtek0806 commented on #1486
@sonicblind
I would suggest opening a pull request and tests for this, so you can author it? If you are external to F5 we would need you to sign a document (last I check we did that anyway) but it would be great if you coded this and submitted PR.

[2018-08-08 09:29] wojtek0806 commented on #1495
does this answer your question @Zoda123  ?

[2018-08-08 09:31] wojtek0806 commented on #1476
@sanathkumarbs do you still need this if so can you send a PR ?

[2018-08-08 09:32] wojtek0806 commented on #1462
@caphrim007 Can you look into this when you have time please ?

[2018-08-08 09:35] wojtek0806 commented on #1464
I would suggest doing this in the endpoints in question not in the Resource class @jasonrahm

[2018-08-08 09:45] wojtek0806 commented on #1454
you can enable that on all of the stats endpoints here: https://github.com/F5Networks/f5-common-python/blob/6a612fcd801507f8d91f0d8e22d670379249bbf3/f5/bigip/resource.py#L1232

Modify this class to inherit from command mixin:

https://github.com/F5Networks/f5-common-python/blob/development/f5/bigip/mixins.py

Or do this per endpoint if it is less messy

[2018-08-08 09:47] wojtek0806 commented on #1446
@rduchez closing this issue at it seems @jasonrahm answered your question

[2018-08-08 09:47] #1446 closed, assigned to nobody

[2018-08-08 09:49] wojtek0806 commented on #1434
@caphrim007 can you have a look when you can please :) ?

[2018-08-08 09:50] wojtek0806 commented on #1435
Can you be more specific in regards to which endpoint is missing exactly? It would help if you specify the URL that you are trying to access with REST, as well as where in the GUI it lives, also a version of TMOS you are using and modules provisioned (So far I assume AFM  and AVR ?)

@Preyansh91

[2018-08-08 09:58] wojtek0806 commented on #1433
@At0mik coming from F5 support background I have only seen API hangs when there was a CPU/Memory issue (leaning towards CPU consumption) so the unit overall would have to be in bad shape for the API not be responsive completely, and like @caphrim007 said you would know at first connection that something is up. There are also some other circumstances where API could hang, for example java Out of me

[2018-08-08 10:15] wojtek0806 commented on #1430
@nugend have you tried passing debug=True in the **kwargs when you instantiated ManagementRoot for bigiq , something like this?
[code]

[2018-08-08 10:17] wojtek0806 commented on #1400
@vsnine please submit PR to the repository if you wish to have this work commited

[2018-08-08 10:26] wojtek0806 commented on #1399
@vsnine the endpoint for that does not exist as far as I can see, so using tmsh over rest would be your best bet here. closing

[2018-08-08 10:26] #1399 closed, assigned to nobody

[2018-08-08 10:31] wojtek0806 commented on #1324
@kimoziiiii looks like @caphrim007 answered this closing

[2018-08-08 10:31] #1324 closed, assigned to nobody

[2018-08-08 10:32] wojtek0806 commented on #1295
@hoa047 closing as inactive, feel free to reopen if this is still an isue

[2018-08-08 10:32] #1295 closed, assigned to nobody

[2018-08-08 10:32] wojtek0806 commented on #1285
@Ironman-india closing as inactive feel free to reopen if issue persists

[2018-08-08 10:32] #1285 closed, assigned to nobody

[2018-08-08 10:34] wojtek0806 commented on #1151
@caphrim007 any thoughts?

[2018-08-08 10:39] wojtek0806 commented on #1108
@mindw i believe this is now resolved with #1328, closing

[2018-08-08 10:39] #1108 closed, assigned to nobody

[2018-08-08 10:50] wojtek0806 commented on #1356
closing as answered

[2018-08-08 10:50] #1356 closed, assigned to caphrim007

[2018-08-08 10:54] wojtek0806 commented on #1309
@caphrim007 any status on this ?

[2018-08-08 11:01] wojtek0806 commented on #677
@caphrim007 I believe we addressed this no ?

[2018-08-08 11:03] wojtek0806 commented on #447
@caphrim007 i think we include symbols for modules already? can this be closed then?

[2018-08-08 15:06] jputrino commented on #607
@wojtek0806 I'm no longer working on this project, so I unassigned myself. Please feel free to close the issue.

[2018-08-08 15:30] wojtek0806 commented on #607
thanks! @jputrino

[2018-08-08 15:30] #607 closed, assigned to nobody

[2018-08-08 23:51] drenout opened #1499 "Passing an argument with the `-` symbol"
I tired to run the next code snippet:
[code]
And I got the next traceback:
[code]
Could you please advice me how to correctly pass the `place-after` or the `place-before` argumet to the function.
I have a workaround, but wonder is it possible to reach the same result via key-value argument.
The workaround:
[code]

[2018-08-11 03:29] caphrim007 opened #1500 "node API backwards compat break"
The patch here https://github.com/F5Networks/f5-common-python/pull/1492/ appears to have broken a specific, valid, case with the node API where both `address` and `fqdn` are allowed so-long as the `address` value is `any6`.

This broke the bigip_node module in ansible

[2018-08-11 05:45] #1500 closed, assigned to nobody

[2018-08-13 04:04] mo-xin opened #1502 "Problem in configuring VS with chinese character in description field"
Hi, I encountered problem when configuring virtual server with chinese characters in description field using f5 sdk
Here is the snippet of my code:

[code]

from the packet capture:(see wireshark screen capture)
https://ibb.co/mANEt9

we could find the description field in the request was encoded  correctly and can be shown correctly from wireshark.

But from the bigip config, we found there

[cod

[2018-08-13 07:55] jobec commented on #1433
I bumped into the same thing.

This effectively makes this library useless in multi-threaded environments without doing dirty hacks like monkey patching.

[2018-08-13 11:49] Zoda123 commented on #1495
No unfortunately it does not :/
It gives the following error:
``
  File "MoveAppServicePartition.py", line 172, in <module>
    newAppSvc.modify(inheritedTrafficGroup='true')
  File "/usr/local/lib/python2.7/dist-packages/f5/bigip/resource.py", line 409, in modify
    self._modify(**patch)
  File "/usr/local/lib/python2.7/dist-packages/f5/bigip/resource.py", line 401, in _modify
    response = ses

[2018-08-13 13:47] caphrim007 commented on #1433
@jobec this has already been fixed in https://github.com/F5Networks/f5-common-python/commit/a97a2ef2abb9114a2152453671dee0ac2ae70d1f it is waiting for a release window to be released to the public. you can install the ff5-sdk from github here to get it now

[2018-08-13 13:47] #1433 closed, assigned to wojtek0806

[2018-08-13 13:49] jobec commented on #1433
When would that release window be?

[2018-08-13 13:49] caphrim007 commented on #1433
@jobec this friday

[2018-08-13 16:26] owainxd opened #1503 "How can I get the network map collection through f5 sdk for python"
I am working with F5 sdk for python,
On F5 UI: Local Traffic > Network Map,  I can set 'Type field' to 'Nodes', in search field I provide 'my_node_name'. By updating the map, I can have details about pools that use  'my_node_name'.

**Are there some ways to retrieve that details using  f5 api for python ?**

**How can I load node collection belonging to a specfic partition ?**
_I tried this : f5_c

[2018-08-16 07:26] rcarpa commented on #1433
@wojtek0806, thank you for the answer. It's exactly what I hoped to learn.

[2018-08-16 14:09] sonicblind commented on #1486
@wojtek0806

I already wrote additional code to enable me to retrieve 'tm:asm:events:requests:requeststate'.
This was also not part of the existing distribution.

But I have never done a contribution to GitHub. Don't know how this all works.
If you are willing to guide me through, I'll be happy to help.

[2018-08-22 14:36] jobec commented on #1433
Looks like the release window was missed?

[2018-08-22 14:45] caphrim007 commented on #1433
@jobec thanks for the reminder. F5's Agility conference was this last weekend so the devs were tied up in that. Releasing now.

[2018-08-22 15:41] caphrim007 commented on #1433
@jobec this is now available

[2018-08-23 19:20] jasonrahm opened #1505 "Add net/self-allow endpoint"

[2018-08-23 19:24] jasonrahm opened #1506 "Add tm/cli endpoints"

[2018-08-23 19:24] jasonrahm opened #1507 "Add apm endpoints"

[2018-09-03 07:50] noby24 opened #1508 "Unable access to ltm via http proxy"
Can I use f5-sdk to access the management address of Big-ip LTM via HTTP proxy?
I would like to use a proxy as follows.

from f5.bigip import ManagementRoot

proxies = {"http": "http://proxy_ip:port", "https": "https://proxy_ip:port"}
mgmt = ManagementRoot(big_ip, big_ip_user, big_ip_pass, proxies=proxies)

[2018-09-06 08:28] jobec opened #1509 "Loading stats on a resource causes deepcopy loop when updating the resource"
When loading a resource (a virtual server for example) and then loading it's statistics causes an error when updating the object again.

We use this way of working when determining if, for example, a virtual server still has open connections, before deleting it.

For example:
[code]
Cause this error:
[code]
A workaround is deleting the stats object again after having loaded it.
[code]

[2018-09-25 22:34] jbnance opened #1510 "RFE: Support for specifying auth token to use"
ICR added the ability to specify the auth token to use in https://github.com/F5Networks/f5-icontrol-rest-python/pull/138.

Please add support for this parameter to the SDK.

Using:

[code]

I get the following:

[code]

[2018-09-25 22:48] jbnance commented on #1510
PR #1511 added to try and get this rolling

[2018-10-04 14:13] eest opened #1512 "f5-sdk 3.0.20: add_to_trust() complains about LazyAttributesRequired in commandOutput"
Hello,

I am trying to setup a HA cluster, starting with adding a trusted member. It looks like this:
[code]

As can be seen no exception is thrown, but inspecting trust.commandOutput shows a problem:
[code]

Is there something missing to make this work as expected? I ran into https://github.com/F5Networks/f5-common-python/issues/1301 and based this on the linked test code.

[2018-10-09 08:33] jassouline opened #1513 "Error 400 when trying to export ASM Policy with python."
Hi !
I have always the same 400 error when i'm trying this script :
`
#!/bin/python2.7
from f5.bigip import ManagementRoot

IP="127.0.0.1"
user="admin"
password="admin"
port_used=8080

mgmt = ManagementRoot(IP, user, password, port=port_used)

#Retrieve Version
version = mgmt.tmos_version

#Retrieve all polciies
policies = mgmt.tm.asm.policies_s.get_collection()
for policy in policies :
        pr

[2018-10-09 22:34] vsnine commented on #1513
You may need to specfiy a "name" value in your argument list to create().

[2018-10-09 22:59] vsnine commented on #1512
We've been using this method which seems to work well. This particular snippet hasn't been tested, though i picked it out of some working code we're using to bootstrap new pairs of F5. Sorry its not a direct answer to your particular question.

[code]

[2018-10-10 00:53] renatocmaia commented on #1508
I have the same problem.

[2018-10-11 02:53] vsnine opened #1514 "ClusterManager create fails if the password contains a $ character"
Hello,

I discovered that using the ClusterManager module to create a device cluster will fail if the password contains a $ character, as the iApp that gets deployed to perform the operation does not escape the character and the shell treats it as a variable. I haven't tested but this may also affect passwords using other special characters.

[code]

Here is an example of the code I'm using.
[code

[2018-10-24 17:43] wojtek0806 commented on #1512
@eest The correct property name of the object you should be accessing is commandResult, which is what is the key under which REST sends command results. If ever in doubt, I suggest using 'raw' property of the objects to see what properties it carries, the example below is a different endpoint but the principle is the same:

[code]

[2018-10-24 17:45] wojtek0806 commented on #1512
if there are any issues feel free to reopen

[2018-10-24 17:45] #1512 closed, assigned to wojtek0806

[2018-10-31 15:42] eest commented on #1512
@wojtek0806 To be clear the initial reason i opened this issue was that even after running the above mentioned trust establishment command there would not appear a node in the Device Trust ->  Peer List page in the GUI. Finding the error message in commandOutput was a side effect of me trying to debug that.

I have now tested this some more and the reason it didn't work was that the node being joi

[2018-12-14 13:00] kamulchik opened #1516 "Use role operator with API (BIG-IP 13.0.0)"
Hello.
I am trying disable nodes on F5 throw API.
I have code:
node_exists = mgmt.tm.ltm.nodes.node.exists(partition='Common',name=node_ip)
        node = mgmt.tm.ltm.nodes.node.load(partition='Common',name=node_ip)
        node.session = "user-enabled"
        node.update()
And this work with admin account, but do not work with role "operator".
User with role operator can disabling and enabling n

[2018-12-18 18:59] jasonrahm commented on #1516
For the API, you will need to create a custom role. Details here: https://devcentral.f5.com/articles/icontrol-rest-fine-grained-role-based-access-control-30773

[2019-02-07 19:07] jobec opened #1517 "Remove SIGALRM signal"
Related to issue #1433 (closed)

The F5 module raises the SIGALRM signal which interferes with the rest of a python program. **Remove it and let the requests module do it's job.**

Using this module inside Gunicorn causes its worker to exit, instead of letting, for example, Django properly handle the timeout exception and display a proper message to the user. The below traceback should cause an in

[2019-02-09 01:12] jasonrahm commented on #1517
@jobec take a look at the PR I submitted and see if this works for you. I can merge next week after I fix a couple more bugs sitting out there.

[2019-02-09 07:44] jobec commented on #1517
Yes, that works and is about the same as how I monkey 🐒 patched it.

[2019-02-12 17:48] jasonrahm commented on #1517
closing issue, merged to development and will release in next version.

[2019-02-12 17:48] #1517 closed, assigned to nobody

[2019-02-13 04:12] vincentmli opened #1519 "net arps get_collection returns nothing"
When I am  trouble shooting k8s-bigip-ctlr issue https://github.com/F5Networks/k8s-bigip-ctlr/issues/817,  it appears to me that the net.arps.get_collection returned nothing while I do have existing arp records on BIGIP, then I used a simple python script below and indeed no arp record returned from get_collection

<pre>

#!/usr/bin/python

from f5.bigip import ManagementRoot

# Connect to the Big

[2019-02-13 12:19] jasonrahm commented on #1519
What version of tmos are you using?

[2019-02-13 16:09] vincentmli commented on #1519
tmos 13.1.1.2

[2019-02-13 19:00] vincentmli commented on #1519
I read some documents that says some TMOS version of iControl REST does not support ARP, I am wondering what TMOS version iControl REST support ARP

[2019-02-13 20:39] vincentmli commented on #1519
tested on 14.1.0 iControl REST support ARP, this is not python sdk issue, so close the issue

[2019-02-13 20:39] #1519 closed, assigned to nobody

[2019-02-28 02:59] caliraftdude opened #1520 "Docs indicate tm.net.vlan where it should be tm.net.vlans"
Problem found on Big-ip 13.1.0.8 where trying to resolve a collection of vlans as so:

MGMT = ManagementRoot("10.1.1.241", "admin", "admin")
vlans = MGMT.tm.net.vlan.get_collection()

fails however this works:

MGMT = ManagementRoot("10.1.1.241", "admin", "admin")
vlans = MGMT.tm.net.vlans.get_collection()

[2019-03-06 23:43] jesmith18 opened #1521 "Complete Support for External Monitors"
Currently, the implementation of tm/sys/file.py does not contain support for external monitors.

So while the external monitor LTM object can be created & managed via the SDK, the underlying file in the filestore cannot be.

This is as compared to external data-groups & iFiles where both the LTM object & the file in the filestore can be managed via the SDK.

[2019-03-11 20:22] manojk011 opened #1522 "Unable to check if the GSLB pool member "exists" using SDK and get the member configuration using "load""
I am trying to check if the pool member exists in a GSLB pool using SDK.

I have created a GSLB pool with name - "gslb_pool" and have added and added LTM server with name  and can see that all the vip's in the LTM are being discovered.
[code]
By using the subPath option, I was able to provide all the details which SDK can use to construct the actual url but it misses to add the tilda sign (~)  and

[2019-03-14 01:25] jasonrahm commented on #1521
on vacation currently, but will take a look at this next week

[2019-03-14 01:29] jasonrahm commented on #1520
What documentation @caliraftdude? Can you specify? Thanks..

[2019-03-14 01:31] #1516 closed, assigned to nobody

[2019-03-14 01:33] jasonrahm commented on #1522
can you put your code specifics in a code block? Some stuff is being rendered incorrectly, making it difficult to figure out what your problem is @manojk011

[2019-03-14 02:06] caliraftdude commented on #1520
Meh… those notes are now gone..

It was on the doc page around https://f5-sdk.readthedocs.io/en/latest/apidoc/f5.bigip.tm.net.html#module-f5.bigip.tm.net.vlan

This is what happen when you are slamming code all night..

classf5.bigip.tm.net.vlan.Vlans(net)[source]<https://f5-sdk.readthedocs.io/en/latest/_modules/f5/bigip/tm/net/vlan.html#Vlans>
Bases: f5.bigip.resource.Collection<https://f5-sdk.re

[2019-03-19 20:22] jasonrahm commented on #1522
Hi @manojk011, can you point me to subPath documentation? I'm not familiar with how to set this up to test.

[2019-03-19 22:14] jasonrahm commented on #1522
@manojk011 this looks to be a problem with the underlying icontrol rest library the SDK uses. If I tweak the subPath it works fine, but provided as is, I get the error where the folder "/" is not translated to a "~".

Need to research what my options are, I'll dig in to this tomorrow when I get back from vacation.

[code]

[2019-03-20 19:03] jasonrahm commented on #1522
This issue belongs to the underlying f5-icontrol-rest-python module. I [opened an issue there](https://github.com/F5Networks/f5-icontrol-rest-python/issues/163) you can track.

[2019-03-20 19:03] #1522 closed, assigned to nobody

[2019-03-28 18:29] SneakyPanda7 opened #1523 "f5.bigip.ManagementRoot adds handler to root logger"
[code]

If I'm writing a framework that uses f5.bigip, all my log messages go to console whether I like it or not. It appears that every method call I make using f5.bigip attaches this handler to the root logger.

[2019-04-02 00:20] jasonrahm commented on #1522
@manojk011, I released 1.3.12 of the icontrol library, so if you upgrade that sdk dependency, you can now use transform_subpath=True and exists should work for you.

[2019-04-02 17:38] manojk011 commented on #1522
Thank you Jason. I will test it out.

Regards
Manoj

On Mon, Apr 1, 2019 at 5:20 PM Jason Rahm <notifications@github.com> wrote:

[2019-04-04 23:21] jasonrahm commented on #1523
Hi @SneakyPanda7, pretty sure this issue belongs to the underlying icontrol rest library, but I'll investigate more closely on Monday.

[2019-04-04 23:22] jasonrahm commented on #1521
Hi @jesmith18, got sidetracked on another underlying issue. I'll dig into this on Monday. Sorry for the delay.

[2019-04-04 23:27] jesmith18 commented on #1521
No problem

On Thu, Apr 4, 2019 at 4:22 PM Jason Rahm <notifications@github.com> wrote:

[2019-04-04 23:33] jasonrahm commented on #1503
Hi @knightRainbow, sorry I missed this inquiry. For your first question, this is done by passing request parameters and using the odata filter property:

`x = b.tm.ltm.nodes.get_collection(requests_params={'params': '$filter=partition eq bc'})`

Please clarify your second question.

[2019-04-08 21:56] jasonrahm commented on #1523
@SneakyPanda7, try installing [my pull request](https://github.com/F5Networks/f5-icontrol-rest-python/pull/168) as your f5-icontrol-rest-python package and see if that fixes your issue.

[2019-04-08 22:48] SneakyPanda7 commented on #1523
@jasonrahm , yes that fixes it! Thanks. How soon can this get merged to master?

[2019-04-09 03:22] jasonrahm commented on #1523
I merged it to the 1.0 release branch, but I won't release until at least Friday. There are a couple other outstanding issues I'd like to address if possible.

[2019-04-09 03:30] jasonrahm commented on #1523
closing as merged in the icontrol-rest library

[2019-04-09 03:30] #1523 closed, assigned to jasonrahm

[2019-04-10 05:14] jasonrahm opened #1524 "Allow proxies kwarg on ManagementRoot"
currently the proxies kwarg for passing to iControlRESTSession is not allowed from the sdk on the ManagementRoot object, but works fine on other method calls. Need to add it.

[2019-04-11 04:59] jasonrahm commented on #1524
merged to development. This will be in release 3.0.21

[2019-04-11 04:59] #1524 closed, assigned to jasonrahm

[2019-04-11 05:00] jasonrahm commented on #1508
@noby24 and @renatocmaia, this feature is now merged to the development branch and will release on or before this Friday in version 3.0.21.

[2019-04-11 05:00] #1508 closed, assigned to nobody

[2019-04-11 06:25] jasonrahm commented on #1521
This has been merged to development and will release on or before Friday in 3.0.21.

[2019-04-11 06:25] #1521 closed, assigned to jasonrahm

[2019-04-11 17:53] jesmith18 commented on #1521
Thanks!!

If you have not, you may want to reach out to Wojciech Wypior. He maintains the F5 ansible tasks.

There currently is an ansible task for external monitors (bigip_monitor_external) that could be made simpler now that the SDK directly supports external monitors.

[2019-04-11 18:20] wojtek0806 commented on #1521
SDK has been removed and no longer a part of Ansible

[2019-04-11 22:12] jesmith18 commented on #1521
Do you know as of which version? The current version (2.7.6) does.

[2019-04-15 19:42] jesmith18 commented on #1521
This release has been labeled "3.0.21". Shouldn't that be "v3.0.21"?

[2019-04-15 20:24] jasonrahm commented on #1521
yep, that's my bad. Updated

[2019-05-23 19:03] jlosito opened #1527 "further reading links 404 api docs"
There's a couple of links on the docs which get a 404. For instance, [F5 iControl REST API Reference (PDF)](https://devcentral.f5.com/s/d/icontrol-rest-api-reference-version-120).

[2019-05-30 06:28] ba31 opened #1528 "Implement associate pool to Virtual server"
Is there any plan to define a class to find out what pool member virtual server has.

[2019-05-30 13:31] jasonrahm commented on #1528
I'm not sure I'm clear on what you are asking. Are you wanting a helper utility function that would allow you to return all virtual servers that reference a particular pool?

[2019-05-30 14:16] ba31 commented on #1528
yes or either what's pool virtual server using .

[2019-05-30 15:53] vsnine commented on #1528
@jasonrahm reverse lookup helper utilities for common things would be appreciated. ie, what virtuals are a profile/policy/pool/etc attached to.

[2019-06-04 04:51] ba31 commented on #1528
Is this something can be added to sdk ?

[2019-06-04 11:02] CyrilKuzmin commented on #1503
Hi,
I have the same question "**How can I get pools where a specific Node has child(chidrens) ?**"
My aim is getting of "network map" for IP address. This IP can be VIP or its member (node). Search provided by UI (Local Traffic -> Network Map) works exactly like I want.
It's pretty easy to search by Virtual IP, but I cannot find an optimal way to search by Member IP. For example, I can check every

[2019-06-06 15:40] pmkerin opened #1529 "Missing six.py ???"
Was trying to use the Bash.py functionality and ran into problems within f5-common-python/f5/bigip/mixins.py.

within mixins.py -> from six import iteritems

I need access to "six" as the function iteritems is needed.

Cheers for your help.

[2019-06-07 01:18] vsnine commented on #1529
You should just be able to install six using either your package manager or pip. More info about it is available here: https://pypi.org/project/six/

[2019-06-07 07:58] pmkerin commented on #1529
Cheers !

[2019-06-07 07:58] #1529 closed, assigned to nobody

[2019-06-10 20:26] kc8iqw opened #1530 "icontrol.exceptions.InvalidInstanceNameOrFolder: instance names and partitions cannot contain '/'"
This may not be a bug, but perhaps a lack of documentation.  When trying to access Pool information when the pool is within an iApp, I get the above error.  When using a direct REST call, it parses as `~Common~SOMEAPP.app~SOMEPOOL?ver=12.1.3.3`

Given the `/Common/SOME.app/SOMEPOOL `is what is being returned by mgmt.tm.ltm.virtuals.pool I would expect to be able to use the / in the path for iApp p

[2019-06-10 20:46] jasonrahm commented on #1530
Try adding the kwarg `transform_name: True`

You might need `transform_subpath: True` in addition to or in place of, I'm a little sketchy with how iApps present.

[2019-06-10 21:23] kc8iqw commented on #1530
WONDERFUL.  after some trial and error (I'm new to python), I was able to do the call like such:  `pool = mgmt.tm.ltm.pools.pool.load(transform_name=True, partition=lpool[1], name=lpool[2]+'/'+lpool[3])`

I theorize I could change that to `.load({transform_name: True, partition=lpool[1], name=lpool[2]+'/'+lpool[3]})` just as well.

[2019-06-10 21:44] jasonrahm commented on #1530
the former will work, the latter will likely fail. The load method is looking for arguments, not a dictionary of arguments. Welcome to python, it's by far my favorite language to work in.

[2019-06-22 17:33] delhipnr opened #1531 "f5.bigip ManagementRoot logout feature"
i did take multiple captures and analysis on the device from user access point of view. do i really need to logout after each run with scripts through f5 sdk?

let say i put it idle, what would be the harm?

[2019-07-08 19:24] jasonrahm commented on #1531
I'm not sure what you are trying to say, can you clarify what the issue is, and what you are hoping for as a fix action?

[2019-07-08 19:25] #1530 closed, assigned to nobody

[2019-07-08 19:26] jasonrahm commented on #1527
I'll get these cleaned up.

[2019-07-09 21:07] manojk011 opened #1532 "Adding/removing an irule from irules in vip results in removing all the irules on the vip."
Below is the code from virtual.py which is making the rules array empty on update. I can see the same condition being used in load, create, update and modify.

[code]

On commenting the if condition, rules are being updated as expected.

[2019-07-11 16:51] delhipnr commented on #1531
Thanks, i am looking loggoff feature in f5sdk.

Sesn = ManagementRoot (ip, uid, pwd)

Above is to login, do we also hv something like Sesn.logout() def ?

[2019-07-11 18:32] jasonrahm commented on #1531
There isn't a logout function with the rest interface. When you authenticate, you should get a token and that token has an expiration timer (configurable). You could create your own logout function by updating the expiration of your token when your calls are complete, effectively logging out.

[2019-07-11 22:39] #1532 closed, assigned to nobody

[2019-08-01 09:51] kakohegyi opened #1533 "Rule_list rules_s getcollection error"
Hi,
I made some test with Virtual 13.1.1 BIG-IP and Python SDK.
The following simple code gives this error:

rom f5.bigip import ManagementRoot
mgmt = ManagementRoot('172.16.0.124', 'XXX', 'XXX')
fw = mgmt.tm.security.firewall
rule_lists_s = fw.rule_lists.get_collection()
aaa=fw.rule_lists.rule_list.load(name='test_rule_list',partition='Common')
ruleslist_2=aaa.rules_s.get_collection()

File "C:\P

[2019-08-15 01:47] sreekaanth opened #1534 "Error 410 Unauthorized"
I am trying to connect to F5 Load balancers using the f5 sdk but I am getting 401 unauthorized error.

The account I am using is administrator account and the load balancers. I am able to run the same commands on the device using ansible bigip_command module.

I checked the logs in /var/log/secure and i can see the http connection initiated but no success/failure message on them.

I checked with t

[2019-08-19 08:53] oh-c opened #1535 "data_group.py removes type before updating but F5 complains about missing type"
In https://github.com/F5Networks/f5-common-python/blob/development/f5/bigip/tm/ltm/data_group.py

lines 57:69 there is an if statement to remove the "type" from the dictionary..

However, my BIG-IP 14.1.0.3 Build 0.0.6 Point Release 3 complains when calling "update" without this.

(note this is an internal data group)

[code]
If set my **kwargs to a dict containing the "type": "ip" it works fine..

[2019-08-26 18:47] jasonrahm commented on #1535
likely a change in expectation between versions. I know we added 14.x to the test suite but I'm not sure we've worked through all the changes introduced above 13.x. I'll run the test suite against latest 14.1 later this week and get a plan together to support it on the existing sdk functionality.

[2019-08-26 18:48] jasonrahm commented on #1534
11.6 was GA for iControl REST, so I'm not sure why you'd get that error. Are you using remote auth to map to and admin account, or an admin account fully defined on the BIG-IP?

[2019-08-27 17:44] sreekaanth commented on #1534
The account I used is an admin account. What do you mean by remote auth to map to ? TACACS?

[2019-08-27 17:53] jasonrahm commented on #1534
admin mapped via tacacs, ldap, or AD.

[2019-08-27 17:54] sreekaanth commented on #1534
The admin acct is mapped via TACACS

[2019-08-27 17:55] sreekaanth commented on #1534
But the account is not blocked for anything though in TACACS

[2019-08-27 17:55] jasonrahm commented on #1534
ok, so remote auth via tacacs is not supported until 12.0. That is a REST interface issue, not an SDK issue.

[2019-08-27 17:56] sreekaanth commented on #1534
Is there a workaround available for this? That you maybe aware of?

[2019-08-27 17:57] jasonrahm commented on #1534
not that I know of. Sorry.

[2019-09-01 04:17] codertao commented on #1535
Experiencing the same, from f5-sdk 3.0.3 against BIG-IP v14.0.0.1 (Build 0.0.2)

[2019-09-02 11:04] Timoses commented on #1535
Is there an ETA when a fix is available?

[2019-09-09 23:25] jasonrahm commented on #1535
Sorry, I’ll try to make time this week.

[2019-09-16 19:18] TomCos opened #1537 "Add tm/net/lldp-globals endpoint"

[2019-09-27 09:02] selvam33 opened #1538 "Close the connection after execution"
I have logged into the F5 and ran my script, but how to make sure the connection closed or not after script ran. I dont see anything like session.close . please advise, thanks !!!

[2019-10-02 12:10] gajZizek opened #1539 "Issue with ManagementRoot initialization with token"
Hi, i've been using your SDK and i now need to use token authorization (previously i simply used username and password and that worked, but i need a non-admin user to work now)

i obtain the token following this lab: https://clouddocs.f5.com/training/community/programmability/html/class1/module1/lab2.html

This is the code that i'm using to obtain the token and initialize the ManagementRoot object

[2019-10-03 10:57] #1539 closed, assigned to nobody

[2019-10-07 14:52] Jayson-L opened #1540 "How to get the status of ntp daemon or other daemons"
By typing the command "tmsh show sys service" or "tmsh show sys service ntpd", we can see the status of ntpd daemon. What functions should I used in this SDK to get the status of ntpd daemon?
How to get the status of ntp daemon or other daemons?

[2019-10-07 20:00] jasonrahm commented on #1540
Doesn't look like we have a native sdk support for that functionality. I was looking at the source and some design decisions around top level objects for named and unnamed resources would take quite a bit of refactoring to support that and we're in maintenance mode on this library now that F5 is now primarily focusing on the declarative models presented with [DO](https://clouddocs.f5.com/products/

[2019-10-09 03:24] jasonrahm commented on #1535
@codertao or @Timoses can you share your entire code segment that is problematic? I'm testing on 14.1.2 and am not having issues whether or not I supply the type as a kwarg. If I can run successfully with your code on 14.1.2, I can explore testing on your specific versions of 14.x tmos. My test code:

[code]

[2019-10-09 12:22] Timoses commented on #1535
@jasonrahm
See the issue that codertao referenced.
The code is probably located somewhere in the k8s-bigip-ctlr.
It happens when configuring a Kubernetes ingress yaml to redirect http.

[2019-10-09 17:08] jasonrahm commented on #1535
looks to me like that's an implementation problem in utilizing the sdk, not a problem with the sdk itself in this case? Not intimately familiar with CIS inner workings....

[2019-10-09 17:43] Timoses commented on #1535
@codertao : Do you have more input? I'm not sure how you reached the [conclusion](https://github.com/F5Networks/k8s-bigip-ctlr/issues/975#issuecomment-526888947) that the k8s-bigip-ctlr issue is connected to this issue.

[2019-10-09 19:23] codertao commented on #1535
k8s-bigip-ctlr works by generating a config file picked up by
f5-ctlr-agent, which is in turn using f5-common-python to talk to the F5.
/the error message is from python logs.

[here?](https://github.com/F5Networks/f5-common-python/files/3709108/simple-config.txt) is a stripped down and untested version of the config
generated by k8s-bigip-ctlr / for consumption by f5-ctlr-agent; our past
experien

[2019-10-10 04:32] jasonrahm commented on #1535
ah, ok. That's helpful. So it looks like in the v14 versions mentioned here as well as v14.1.2 at least, the string and integer types require the type to be submitted, whereas the address type does not. I checked v13 latest and this doesn't seem to be a problem with any of them. This is a rest interface issue that the SDK currently is not equipped to handle. The workaround you are using is suffici

[2019-10-14 15:18] jllorente commented on #1309
I have also run into this issue on a rather recent version, is there a workaround available ?

[2019-10-15 09:51] benben17 opened #1541 "zlib.error: Error -2 while preparing to decompress data: inconsistent stream state"
when i exec this scripts ，
get  this error ,but i got the VS INFO

Traceback (most recent call last):   File "f5_vs_status.py", line 9, in <module>     from f5.bigip import ManagementRoot   File "/usr/lib/python2.7/site-packages/f5_sdk-3.0.21-py2.7.egg/f5/bigip/__init__.py", line 20, in <module>     from icontrol.session import iControlRESTSession zlib.error: Error -2 while preparing to decompress

[2019-11-06 17:03] jmcgill298 opened #1544 "importing modules fails with junos-eznc v2.3.0 installed"
Importing the f5 package works, but trying to install the bigip and submodules raises an `ImportError`. This is from python3.6.8:

[code]

[code]

[2019-11-06 19:25] jmcgill298 commented on #1544
issue is with junos-eznc adding to `sys.meta_path`
I raised an issue there, but will let you all decide if you want to leave this issue up as a known issue, or go ahead and close this one. https://github.com/Juniper/py-junos-eznc/issues/973

[2019-11-14 20:04] rbouali34 opened #1545 "using tar bash comannd in sdk python"
Hello,

i want to use a bash "tar -xzf" command in a python scrypt to uncompress an ucs file.

**yyy=mgmt2.tm.util.bash.exec_cmd('run',utilCmdArgs="-c 'tar -xzf /var/local/ucs/tmp/migration/TEST.ucs'")**

but I can not. I have a failure with this error msagge:

**Python\Python37-32\lib\site-packages\f5\bigip\mixins.py", line 95, in __getattr__
    raise LazyAttributesRequired(error_message)
f5.sdk

[2019-11-15 04:03] jasonrahm commented on #1545
Not sure what's causing your error there unless it's something I can't see. This works fine for me:

`result = b.tm.util.bash.exec_cmd('run', utilCmdArgs='-c "tar -xzf /var/local/ucs/tmp/migration/TEST.ucs -C /var/tmp/test/"')`

Note that if you don't use the -C option with tar, it will dump the extracted files in /var/service/restjavad, which is likely not the desired target.

[2019-11-28 07:09] vnitinv commented on #1544
Fixed via Juniper/py-junos-eznc#977

[2019-12-06 00:48] mbreton1 opened #1546 "How to get bundle certificates subcollection"
Hi,

I'm trying to get the content of my certificate bundles using f5-sdk but I cannot find the way to load the subcollection.

[code]

I get the following error:
`AttributeError: '<class 'f5.bigip.tm.sys.file.Ssl_Cert'>' object has no attribute 'bundlecertificates_s'
`

If I copy the link I get from the attribute bundleCertificatesReference.link of the 'cert' object and access directly the link i

[2019-12-17 17:02] CharterMitch opened #1547 "Add big-iq device-discovery-import-controller to SDK"
https://<IP>/mgmt/cm/global/tasks/device-discovery-import-controller

Would it be possible to add device discovery to the bigiq API?

This would allow adding/discovering devices through bigiq.

[2020-01-07 15:42] kisbam commented on #1538
Hi, I had the same concerns.
After testing a script, I noticed that after opening a bigip session and making some calls (display VS) if nothing happens afterwards (user input), the websocket disconnect after 60s of inactivity.
Here are the logs on the F5:
[admin@f5:Active:Changes Pending] ~ # netstat -na | grep 192.168.1.1
**tcp        0      0 ::ffff:10.10.10.10:443      ::ffff:192.168.1.1:59018

[2020-01-12 10:26] #1544 closed, assigned to nobody

[2020-01-29 19:04] rjouhann commented on #1547
Just FYI, there is an ansible module to discover and import BIG-IP in BIG-IQ.

https://clouddocs.f5.com/products/orchestration/ansible/devel/modules/bigiq_device_discovery_module.html

[2020-02-05 22:10] goopilot opened #1548 "UCS file download speed is slow"
Hello,

I noticed that using SDK https://f5-sdk.readthedocs.io/en/latest/userguide/file_transfers.html to download UCS file takes lots of time (almost an hour for 270MB file), but when using f5-backup script https://devcentral.f5.com/s/articles/f5-remote-backup-python-script-1163 it's almost instant. Looking into SDK code I see that it's based on f5-backup script, but can't figure out why is downl

[2020-02-08 23:48] leonardobdes opened #1549 "RFE: Support BIG-IQ REST API"
Is there any plan to extend the SDK to include support for BIG-IQ?
If not, is it possible to add that support in a future version?

[2020-02-25 13:04] Sinan828 opened #1550 "can't load pool objects after created it with transaction"
I can't use F5 SDK load pool objects after created it.

`from f5.bigip import ManagementRoot
from f5.bigip.contexts import TransactionContextManager
if __name__ == "__main__":
    for x in range(1, 50):
        mgmt = ManagementRoot('10.5.10.23', 'admin', 'XXXX', token=True)
        tx = mgmt.tm.transactions.transaction
        with TransactionContextManager(tx) as api:
            name = 'pool' +

[2020-02-25 16:02] ciscoCruz opened #1551 "How can I re-activate my license ?"
I have tried the following but it does not seem to work:

mgmt.tm.shared.licensing.activation.modify(automaticActivation= True, activationMethod="AUTOMATIC")

Any help would be appreciated

[2020-03-02 09:36] q2807c opened #1552 "How can I get CPU usage via sdk"
When I am using curl command to fetch CPU info from /mgmt/tm/sys/CPU, I can get the CPU related info.

curl -sku admin:admin https://10.1.1.133//mgmt/tm/sys/cpu | more
{"kind":"tm:sys:cpu:cpustats","selfLink":"https://localhost/mgmt/tm/sys/cpu?ver=11.5.9","entries":{"https://localhost/mgmt/tm/sys/cpu/0":{"nestedStats":{"entries":{"https://localhost/mgmt/tm/sys/cpu/0/cpuInfo":{"nestedStats":{"entri

[2020-03-02 13:48] r4mbo7 commented on #641
Thanks @chen23 for your fixes !

I tried to create a virtual server with a member using a same transaction. Using `f5-sdk==3.0.21`
[code]
Code to reproduce
[code]

[2020-03-03 16:20] jasonrahm commented on #1549
There is limited support for license pools already, but there are no current plans to extend further. That said, if there are a few features that would make your life easier, I'll consider adding them.

[2020-03-05 17:39] iam-veeramalla opened #1553 "Error getting fdb records !!"
Version: 3.0.21

Problem:
 I am using f5-cccl which internally uses f5-common-python to get the BIG-IP configuration. Upgrading to latest version, f5-common-python is not able to get the FDB records(Empty Record).

 Below log shows the difference between the actual and desired state.
[code]
On Initial analysis, I figured out issue with the get_collection of bigip.net.fdb.FDB module. However, compl

[2020-03-07 02:25] lizhi1989 commented on #1551
I encounter the same issue.
I remove the license file manually. You should be able to remove using below API also.

https://BIGIP/mgmt/tm/util/bash
POST:
{
    "command": "run",
    "utilCmdArgs": " -c ' rm -f /config/bigip.license'"
}

after that I install the license.
https://BIGIP/mgmt/tm/util/bash

POST:
{
    "command": "run",
    "utilCmdArgs": " -c ' tmsh install /sys license registration-k

[2020-03-25 00:03] #1503 closed, assigned to nobody

[2020-03-25 00:06] owainxd commented on #1503
@jasonrahm I have found  alternantives for my needs.
Thanks for your answer anyway ;)

[2020-05-03 12:42] tirkarthi opened #1554 "Deprecation and syntax warnings in Python 3.8"
* Deprecation warning due to invalid escape sequences. Using raw strings or escaping them again helps in resolving this.
* Syntax warnings due to comparison of literals using is.

Check https://github.com/asottile/pyupgrade/ for automatic fix of this.

[code]

[2020-05-20 14:27] z4nD4R opened #1555 "load an ASM resource"
Hi All,

I'm trying to interact with ASM module through `f5-sdk`. Unfortunately I'm not able to `.load()` or test if resource `exitsts` without passing `id` param. The same functionality although is working in LTM module.

Could you please advice where am I doing anything wrong (it doesn't make sense to pass `id` to `load` or `exists`)?

Working on LTM module
[code]

NOT working on ASM module
[cod

[2020-06-24 09:35] aroundthecode opened #1556 "Ramcache implementation"
hi all, as stated in #422:

[code]

Is there any ETA to have Ramcache classes in places?
It would be extremely useful to automate cleanup caches upon services releases.

I can use REST call as a workaround but a full-python solution would be much appreciated.
thank in advance.

[2020-07-07 05:49] harrywangaa commented on #1552
tmplist = []
                host_info = self.mgmt.tm.sys.host_info.load()
                cpu_info = host_info.raw.get('entries').get("https://localhost/mgmt/tm/sys/host-info/0").get(
                    "nestedStats").get(
                    "entries").get("https://localhost/mgmt/tm/sys/hostInfo/0/cpuInfo") \
                    .get("nestedStats").get("entries")
                for key, value

[2020-08-12 03:58] #1552 closed, assigned to nobody

[2020-08-17 14:27] benweber2 opened #1557 "Empty iRules object when using policy.update()"
Hi All,

I'd like to bring an issue up that I'm seeing where iRules are being removed from a VIP when the 'Update()' method is used.  See below for steps to recreate:

Step 1: Load VS configuration:

`vip = mgmt.tm.ltm.virtuals.virtual.load(partition='Partition-2', name='Wordpress')`

Request and response are functioning as expected.

![f5-irule-http-get](https://user-images.githubusercontent.com/

[2020-09-10 16:46] ghost opened #1558 "icontrol.exceptions.InvalidInstanceNameOrFolder: instance names and partitions cannot contain '/' - interface names with a '/' cannot be referenced"
I am using  f5-sdk (3.0.2) and importing ManagementRoot. I'm attempting to query an interface on a Viprion and it's erring because of the '/' in the interface name.

Here is the code snippet:

from f5.bigip import ManagementRoot
mgmt = ManagementRoot('192.168.1.1','admin', 'admin', timeout = 5)
interface = '1/3.0'
interface = mgmt.tm.net.interfaces.interface.load(name=interface)
print(interface)

[2020-09-10 23:15] f5-rahm commented on #1558
Add the transform_name=True kwarg and see if that helps.

[2020-09-11 15:00] ghost commented on #1558
That worked! Sorry, I see that a similar issue had been posted before but I appreciate the help!

[2020-09-11 15:00] #1558 closed, assigned to nobody

[2020-09-29 06:37] manuwelakanade opened #1559 "Filtering by partition for Nodes collection does not work properly for IP%RouteDomain nodes"
**Verion Information**
f5-sdk==3.0.21
f5-icontrol-rest==1.3.13

**Setup**
1. A BIG-IP device with multiple partitions and nodes in it.
2. There is a partition named **Partition**
3. Created a route domain in that **Partition** named **RouteDomain**
4. Make this route domain **RouteDomain** the default route domain for that partition **Partition**
5. Create a node in that partition with IP **NodeIP

[2020-09-30 20:48] itlinux opened #1560 "Python 3.x issue not finding a module - must use python 3.x"
Hello, I have test this on my mac and on a vm on Azure, I use virtualenv. Any suggestions are welcomed.

pip install --upgrade https://github.com/F5Networks/f5-common-python/tarball/master
Looking in indexes: https://pypi.phx.gbl/root/prod2/+simple/
Collecting https://github.com/F5Networks/f5-common-python/tarball/master
  Using cached https://github.com/F5Networks/f5-common-python/tarball/master

[2020-11-02 14:31] oldarmyc opened #1561 "Python 3.8 - Runtime error sanitizing python keywords from dictionary"
In Python 3.8 the following error is generated when sanitizing python keywords for a dictionary

Traceback
[code]

Error: `RuntimeError: dictionary keys changed during iteration`

[2021-01-04 15:17] moreda opened #1572 "Add support for trunk/stats"
Hi!

I noticed that there's no support to obtain all trunk stats at once.
The solution (AFAIK) is just adding `Stats` to the `allowed_lazy_attributes` of the class `Trunks`.
If you prefer I could file a trivial PR, just let me know about it.
Thx a lot in advance.

[2021-01-22 01:53] yangmingbai opened #1573 "how to replace vserver's profiles?"
hello :
 i want to replace a server's profile,
example:
the vserver has profile named "/Common/security-fastL4"; but now i want to replace it's profiles use this ['/Common/fastL4', "/Common/http"]
but I don't know how to use this API  "vc1.update()" to replace it
thanks!

[2021-01-22 04:45] f5-rahm commented on #1573
HI @yangmingbai, you should use modify for this:

[code]

[2021-01-22 05:08] yangmingbai commented on #1573
thanks!

[2021-01-22 05:08] #1573 closed, assigned to f5-rahm

[2021-03-21 00:32] tifa2100 opened #1574 "Call Application under partition"
I am trying to load virtual server as below
`vip = ltm.virtuals.virtual.load(name="vs_name", partition="Common/partition.one")`
it give me this error
`instance names and partitions cannot contain '/', but it's: Common/partition.one`

my virtual server output like below:
`# tmsh list /ltm virtual /Common/partition.one/vs_name`
it gives me below output
`ltm virtual partition.one/vs_name { ......`

h

[2021-03-21 23:16] f5-rahm commented on #1574
you will need to add the transform_name as a kwarg and set it to True and that should help. [example](https://github.com/F5Networks/f5-common-python/issues/1530#issuecomment-500600245)

[2021-03-22 08:18] #1574 closed, assigned to nobody

[2021-03-22 08:18] tifa2100 commented on #1574
@f5-rahm  Thanks for your prompt support

[2021-03-30 10:48] Blackwoodseller opened #1575 "websocket profile has not been supported"
Profile module doesn't contain websockets class implemetation

[2021-04-08 09:27] Len4i commented on #1538
bump
It's kinda strange for security device not to have a way to explicitly close mgmt session

[2021-05-19 17:09] HardipinderS opened #1579 "Custom session"
Hi Team,

Wanted to request if we can have custom sessions option present in the sdk.

I'm still looking around the sdk to find where exactly the request calls are made and how things are processed, but in the ManagementRoot class, if we can have another argument passed
like

[code]

Let me know if this is possible

[2021-05-24 23:44] muhammad-rafi opened #1580 "F5 TLM TypeError: Object of type Nodes is not JSON serializable"
Hi I am banging my head to understand why it not serializing into json (using json.dumps) as the output type for the node.raw is <class 'dict'>, here is my code

[code]

After raising this issue on stackoverflow (https://stackoverflow.com/questions/67638541/f5-tlm-typeerror-object-of-type-nodes-is-not-json-serializable/67676971), I was advised to raised an issue here, as currently raw output doesn

[2021-05-26 14:22] salvapinyol opened #1583 "How to get dynamic arps entries?"
Hi:

Doing a get request to _/mgmt/tm/net/arp/stats_ I'm able to get the dynamic arp list on the device.

But I don't know how this can be done with f5-sdk, because it seems that call to:

_mgmt.tm.net.arps.get_collection()_

is only for static arp entries.

How can access to _/mgmt/tm/net/arp/stats_ using f5-sdk?

[2021-05-26 22:02] f5-rahm commented on #1583
stats is built such that you need to load the object and then get the stats from that object like this:

arp = b.tm.net.arps.arp.load(name='10.10.10.10')
arpstats = arp.stats.load()

however, because the arp stats are returned on dynamic objects, this doesn't exactly work, does it? Might need to get these from the bash utility if using this library. I'd be happy to be proven wrong.

All that said,

[2021-05-27 06:09] salvapinyol commented on #1583
@f5-rahm Thanks a lot for your advice.

I'll check the bigrest library.

[2021-05-27 06:09] #1583 closed, assigned to nobody

[2021-08-12 17:14] treygauche opened #1600 "sdk error in"
I am getting an error when trying to retrieve the web-acceleration collection, that i have not seen in previous calls:

Here is the code:
[code]
And here is the error i'm getting:

**Traceback (most recent call last):
  File "/Users/ttait/Documents/Networks/f5scraper/mytest.py", line 14, in <module>
    f5Data = mgmt.tm.ltm.profile.web_accelerations.get_collection()
  File "/usr/local/lib/python3.

[2021-08-13 16:05] f5-rahm commented on #1533
i wonder if the dash in the kind is the problem as that is similar in both issues.  I can load the profiles by name just fine.

We are no longer putting development effort in this library, feel free to fork it and make changes if necessary. For imperative operations like this with the rest interface, I'd recommend the [bigrest](https://bigrest.readthedocs.io/) library developed by one of our MVPs.

[2021-08-13 16:06] f5-rahm commented on #1600
i wonder if the dash in the kind is the problem as that is similar in both issues.  I can load the profiles by name just fine.

We are no longer putting development effort in this library, feel free to fork it and make changes if necessary. For imperative operations like this with the rest interface, I'd recommend the [bigrest](https://bigrest.readthedocs.io/) library developed by one of our MVPs.

[2021-08-26 13:28] basva923 opened #1601 "Timeout not working"
Timeout not working
-------------------

# Reproduce
1. `ManagementRoot(host, user, pwd, timeout=1)`
2. Timeout of 1 second is not respected

# Problem
Timeout is not respected. Instead the default timeout for the 'request' library is used, [which is forever](https://docs.python-requests.org/en/master/user/advanced/#timeouts).

# Solution
Replace the following [line](https://github.com/F5Networks/

[2021-10-26 05:50] #1553 closed, assigned to nobody

[2021-11-18 07:28] batmancn opened #1602 "How to set nat64 option in vs creation?"
Hi all,

I'm want to create a nat64 listener.

For web, I could set nat64=enable in this web page.

![image](https://user-images.githubusercontent.com/3353168/142370816-f7b61d0a-5905-4e25-bc17-59b9733c2ecf.png)

Or I could use tmsh cli like this:
`create ltm virtual test destination 2001::FE.80 pool test-pool nat64 enabled`

But now I need to use f5-common-python to add this kind of listener, so I

[2022-02-15 17:13] chango73 commented on #1286
Hello,
just an information... How can I get the http profile (client) and SSL profile (client) from virtual server?

[2022-04-08 23:07] #1580 closed, assigned to nobody

[2022-05-10 17:18] jlosito commented on #1527
I'm closing it due to inactivity. I'm getting 404s from that page anyway. Things have probably changes within the last couple of years.

[2022-05-10 17:18] #1527 closed, assigned to jasonrahm

[2022-07-07 07:46] HansAarneLiblik commented on #1601
I solved this by wrapping `ManagementRoot` object and changinf `icr_session`

[code]

[2022-11-10 08:21] 937270354 opened #1607 "delete_collection specify custom partition"
I want to delete virtual servers that some other partitions ,but delete_collection() only delete virtual servers in a partition that named Common.
eg:
mgmt = ManagementRoot("121.42.101.152", "admin", "admin")
requests_params = {'params': 'options=* '}
mgmt.tm.ltm.virtuals.delete_collection(requests_params=requests_params)

Am I miss anything?

[2022-11-24 15:28] ywei2017 opened #1608 "update failure with BIG-IP 14.x and above"
The virtual server update is broken with BIG-IP 14.x and above. See [K27721265](https://support.f5.com/csp/article/K27721265) and [K13225405](https://support.f5.com/csp/article/K13225405) for details.

Based on K13225405, PUT is a dangerous operation, as it leaves unspecified attributes to be reverted to the default -- instead of current values.

In my experiment:
* PUT is working for policy, moni